<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tw.leader.boot.mapper.ShoppingOrderExtMapper">
	<resultMap id="BaseResultMap" type="tw.leader.boot.domain.ShoppingOrder" 
	extends="tw.leader.boot.mapper.ShoppingOrderMapper.BaseResultMap">
	</resultMap>
	<select id="selectAllByShopper" resultMap="BaseResultMap" parameterType="string">
		select * from TA_TestShoppingOrder where shopper=#{shopper}
	</select>
</mapper>