<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashi | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
      #map2 {
        height: 600px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
        
      }
    </style>
    
    <script>
    function initMap() {
    	const test = {
    			lat : 39.915168,
    			lng : 116.403875,
    	};
    	
    	//const test2 = results[0].geometry.location;
    	const map = new google.maps.Map(document.getElementById("map"), 
    	{
    	zoom : 16,
    	center : test,
    	});
    	
    	const marker = new google.maps.Marker({
    		position : test,
    		map : map,
    	});
    	//use to tag a place.
    	
    	var address = "車車開起來" 
    	
    	var infowindow = new google.maps.InfoWindow({content: address }); //build InfoWindow
    	infowindow.open(map, marker); //bind infoWindow on specified marker
    	//add marker for click event
    	google.maps.event.addListener(marker, "click", function(){
    	    infowindow.open(map,marker);
    	});
    }
    
    //practice 2-------------------------------
    
//     addMaker({
//     	coords:{lat:42.1668, lng:-70.9495}
//     	content:"<h1>TianAnMeng萬歲</h1>"
    
//     });
//     addMaker({coords:{lat:43.1668, lng:-72.9495}});
//     addMaker({coords:{lat:46.1668, lng:-75.9495}});
    
//     function addMaker(props) {
//     	var marker = new google.maps.Marker({
//     		positions : props.coords,
//     		map : map,
    		  		
//     	}) 
//     }
    
//    	if (props.content) {
//    		var infoWindow = new google.maps.InfoWindow({
//    			content : props.content,
//    		})
//    	}
    
    
    </script>
    
    <script type="text/javascript">
    var geocoder;
    
    function initialize() {
      geocoder = new google.maps.Geocoder();
    }
    
    function codeAddress() {
        var address = document.getElementById("address").value;
        geocoder.geocode( { 'address': address}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
        	 	
            //alert(results[0].geometry.location);
            
            const map = new google.maps.Map(document.getElementById("map2"), 
                	{
                	zoom : 16,
                	center : results[0].geometry.location,
                	});
            
            const marker = new google.maps.Marker({
        		position : results[0].geometry.location,
        		map : map,
        	});
            
            
            
          } else {
            alert("Geocode was not successful for the following reason: " + status);
          }
        });
      }
    
    
    
    </script>
    
    
    
    
</head>

<body onload="initialize()">
	
<p th:value="${user}" type="hidden" id="loginInfo"></p>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="ht-left"></div>
				<div class="ht-right">
					<a href="logout" class="login-panel" th:text="Logout"><i
						class="fa fa-user"></i></a> <a href="loginPage" class="login-panel"
						th:text="Login"><i class="fa fa-user"></i></a>


					<div class="top-social">
						<div class="mail-service">
							<a class=" fa fa-envelope" id="userPageControl" href="#"
								th:text="${user}"></a>
							<!-- 進入使用者個人資料的頁面(賣家頁面) -->

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="inner-header">
				<div class="row">
					<div class="col-lg-2 col-md-2">
						<div class="logo">
							<a href="index"> <img src="img/logo.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-lg-7 col-md-7">
						<div class="advanced-search">
							<button type="button" class="category-btn">所　有　分　類　</button>
							<div class="input-group">
								<input type="text" placeholder="您在搜尋什麼商品嗎?">
								<button type="button" class="ml-5">
									<i class="ti-search"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="col-lg-3 text-right col-md-3">
						<ul class="nav-right">

							<li class="cart-icon"><a href="#"> <i
									class="icon_bag_alt"></i> <span>3</span>
							</a>
								<div class="cart-hover">
									<div class="select-items">
										<table>
											<tbody>
												<tr>
													<td class="si-pic"><img src="img/select-product-1.jpg"
														alt=""></td>
													<td class="si-text">
														<div class="product-selected">
															<p>$60.00 x 1</p>
															<h6>Kabino Bedside Table</h6>
														</div>
													</td>
													<td class="si-close"><i class="ti-close"></i></td>
												</tr>
												<tr>
													<td class="si-pic"><img src="img/select-product-2.jpg"
														alt=""></td>
													<td class="si-text">
														<div class="product-selected">
															<p>$60.00 x 1</p>
															<h6>Kabino Bedside Table</h6>
														</div>
													</td>
													<td class="si-close"><i class="ti-close"></i></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="select-total">
										<span>總共:</span>
										<h5>$120.00</h5>
									</div>
									<div class="select-button">
										<a href="#" class="primary-btn view-card">購　物　車</a> <a
											href="#" class="primary-btn checkout-btn">結　　　帳</a>
									</div>
								</div></li>
							<li class="cart-price">$150.00</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-item">
			<div class="container">
				<div class="nav-depart">
					<div class="depart-btn">
						<i class="ti-menu"></i> <span>所有選項</span>
						<ul class="depart-hover">
							<li class="testActive"><a href="#">飾　　　　品</a></li>
							<li class="testActive"><a href="#">服　　　　飾</a></li>
							<li class="testActive"><a href="#">生　　　　活</a></li>
							<li class="testActive"><a href="#">玩　　　　具</a></li>
							<li class="testActive"><a href="#">藝　　　　術</a></li>
							<li class="testActive"><a href="#">經　　　　典</a></li>
						</ul>
					</div>
				</div>
				<nav class="nav-menu mobile-menu">
					<ul>
						<li class="active"><a href="index">首　頁</a></li>
						<li><a href="shopPage">商　城</a></li>
						<li><a href="blog">部落格</a></li>
						<li><a href="test">活　動</a></li>
						<li><a href="faq">問與答</a></li>

					</ul>
				</nav>
				<div id="mobile-menu-wrap"></div>
			</div>
		</div>
	</header>
	<!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Map Section Begin -->
    
    
    <!--The div element for the map -->
        
    <h3>Google Map Address Mapping</h3>
    
    <input id="address" type="textbox" value="天安門廣場">
    <input type="button" value="查詢地圖" onclick="codeAddress()">
    
    <div class="map spad">
        <div class="container">
            <div class="map-inner">
            <div id="map2" style="text-align:center"></div>
<!--                 <iframe -->
<!--                     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48158.305462977965!2d-74.13283844036356!3d41.02757295168286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2e440473470d7%3A0xcaf503ca2ee57958!2sSaddle%20River%2C%20NJ%2007458%2C%20USA!5e0!3m2!1sen!2sbd!4v1575917275626!5m2!1sen!2sbd" -->
<!--                     height="610" style="border:0" allowfullscreen=""> -->
<!--                 </iframe> -->
                <div class="icon">
<!--                     <i class="fa fa-map-marker"></i> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Map Section Begin -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-title">
                        <h4>Main Infomation</h4>
                        <p>Here you should enter information about the activity you are going to create.</p>
                    </div>
                    <div class="contact-widget">
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-location-pin"></i>
                            </div>
                            <div class="ci-text">
                                <span>Activity NAme</span>
                                <p>垃圾專賣市集</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-mobile"></i>
                            </div>
                            <div class="ci-text">
                                <span>Host</span>
                                <p>李德</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-email"></i>
                            </div>
                            <div class="ci-text">
                                <span>Contact Number:</span>
                                <p>8887866878</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="contact-form">
                        <div class="leave-comment">
                            <h4>Details about your activity</h4>
                            <form action="/actCreateProcess" class="comment-form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <textarea placeholder="Activity Description"></textarea>
                                        <button type="submit" class="site-btn">Send message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="footer-left">
						<div class="footer-logo">
							<a href="#"><img src="img/footer-logo.png" alt=""></a>
						</div>
						<ul>
							<li>地址: 80147高雄市前金區中正四路211號8號樓之1</li>
							<li>電話: 07 969 9885</li>
							<li>電子信箱: vintage@gmail.com</li>
						</ul>
						<div class="footer-social">
							<a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
							<a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
							<a href="https://twitter.com"><i class="fa fa-twitter"></i></a> <a
								href="https://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1">
					<div class="footer-widget">
						<h5>資訊</h5>
						<ul>
							<li><a href="#">關於我們</a></li>
							<li><a href="#">首頁</a></li>
							<!-- 							<li><a href="#">Contact</a></li> -->
							<li><a href="#">Q&A</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="footer-widget">
						<h5>我的帳戶</h5>
						<ul>
							<li><a href="#">個人帳戶</a></li>
							<!-- 							<li><a href="#">Contact</a></li> -->
							<li><a href="#">購物車</a></li>
							<li><a href="#">商城</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="newslatter-item">
						<h5>現在就加入我們的電子報！</h5>
						<p>獲取最新最即時的商品資訊</p>
						<form action="#" class="subscribe-form">
							<input type="text" placeholder="輸入您的電子信箱">
							<button type="button">訂閱</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-reserved">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="copyright-text">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</div>
						<div class="payment-pic">
							<img src="img/payment-method.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->


    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/jquery.dd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV_XLX4sK0tZDC7QXt59sVxN6QOx_aWMs&libraries=places&callback=initMap">
	</script>
</body>

</html>