<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Fashi Template">
<meta name="keywords" content="Fashi, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Fashi | Blog-details</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/themify-icons.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">


<script src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
        $(function(){
    		var mUrl = "panAllPageMainLink?pMain=";
    		$(".testActive a").click(function(){
    			var allPageMainValue = $(this).html();
    			$(this).attr("href",mUrl+allPageMainValue);
    		});

    		$("#textSelectFormSearch").click(function(){
    			fUrl = "panAllPageFormLink?pName=";
    			var allPageFormValue = $("#textSelectFormInput").val();
    			if(allPageFormValue == ""){}
    			else{
    				window.location.href=fUrl+allPageFormValue;
    			}
    		});
            var userEmail = null;
            var pageEmail = $("#secretUserEmail").html();
            var loginEmail = $("#loginInfo").html();
            if(pageEmail == "" || pageEmail == loginEmail){
                userEmail = loginEmail;
                userInfoData = {"email":userEmail};
                $.ajax({
                    url:"panselectUserInfo.user",
                    type:"POST",
                    dataType:"json",
                    contentType:"application/json;charset=utf-8",
                    data:JSON.stringify(userInfoData),
                    success:function(response){
                        $.each(response,function(i,v){
                            $("#userDetailBox").append(
                                `<div class="pb-pic">
                                    <img src="img/userPic/${v.userPic}" alt="">
                                </div>
                                <div class="pb-text">
                                    <a href="#">
                                        <h5>${v.userName}</h5>
                                    </a>
                                    <p>${v.birthday}</p>
                                    <p>${v.userPhoto}</p>
                                    <p>${v.phone}</p>
                                    <p>${v.gender}</p>
                                    <a href="toUserInfoDetail">更改基本資料</a>
                                    <a href="admin">商品管理後台</a>
                                </div>`
                            );
                        });
                    },
                    error:function(msg){
                        console.log(msg);
                    }
                });
            }
            else{
                userEmail = pageEmail;
                userInfoData = {"email":userEmail};
                $.ajax({
                    url:"panselectUserInfo.user",
                    type:"POST",
                    dataType:"json",
                    contentType:"application/json;charset=utf-8",
                    data:JSON.stringify(userInfoData),
                    success:function(response){
                        $.each(response,function(i,v){
                            $("#userDetailBox").append(
                                `<div class="pb-pic">
                                    <img src="img/blog/${v.userPhoto}" alt="">
                                </div>
                                <div class="pb-text">
                                    <a href="#">
                                        <h5>${v.userName}</h5>
                                    </a>
                                    <p>${v.userBirthday}</p>
                                    <p>${v.userPic}</p>
                                </div>`
                            );
                        });
                    },
                    error:function(msg){
                        console.log(msg);
                    }
                });
            }

            // 取得賣家全部商品筆數與總頁數
            
		    var userData = {"email":userEmail};
		    $.ajax({
			    async:true,
			    url:"panFindProductPage",
			    type:"POST",
			    dataType:"json",
			    contentType:"application/json;charset=utf-8",
			    data:JSON.stringify(userData),
                success:function(pageData){
                    $.each(pageData,function(i,v){
                        var pages = parseInt(v.totalPages);
                        var total = v.totalElements;
                        for(n=1;n<=pages;n++){
                            $("#pageBox ul").append(
                                `<li class="productAllPage">${n}</li>`
                            );
                        };
                        $("#totalElements").html(total);
                    });
                    $("#pageBox ul li").first().addClass("active");
                },
                error:function(msg){
                    console.log(msg);
                }
            });

            // 取得賣家全部的分類
		    $.ajax({
			    async:true,
			    url:"panSelectMainByUserName",
			    type:"POST",
			    dataType:"json",
			    contentType:"application/json;charset=utf-8",
			    data:JSON.stringify(userData),
			    success:function(response){
                    var tMain = [];
				    $.each(response,function(i,v){
                        tMain.push(`${v.pMain}`);
                    });
                    nMain = $.uniqueSort(tMain);
		            $.each(nMain,function(i,v){
					    $("#filterControl ul").append(
					    	`<li class="productMainLi">${v}</li>`
					    );
                    });
			    },
			    error:function(msg){
			    	console.log(msg);
			    }
            });

            // 載入此賣家全部的商品
            $.ajax({
                async:true,
                url:"panSelectProductByUserName",
                type:"POST",
                dataType:"json",
			    contentType:"application/json;charset=utf-8",
			    data:JSON.stringify(userData),
                success:function(response){
                    $.each(response,function(i,v){	
                        $("#productList #productRow").append(
                            `<div class="col-lg-3 col-sm-6">
                         	    <div class="product-item">
                                	<div class="pi-pic">
                                    	<img src="img/products/${v.cPhoto}" alt="">
                                            <ul>
                                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                                <li class="quick-view"><a href="panProductPage?id=${v.pId}">+ Quick View</a></li>
                                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="pi-text">
                                    	<div class="catagory-name">${v.pMain}</div>
                                        <a href="panProductPage?id=${v.pId}">
                                            <h5>${v.pName}</h5>
                                        </a>
                                        <div class="product-price">
                                            ${v.price}
                                        </div>
                                    </div>
                                </div>
                            </div>`  
                        );
                    });
                },
                error:function(msg){
                    console.log(msg);
                }
            });

            // 註冊全部商品的頁籤+載入分頁資料
            $("#pageBox ul").on("click",".productAllPage",function(){
                $("#pageBox ul li").removeClass("active");
                $(this).addClass("active");
                $("#productList #productRow").html("");
                var pageNum = $(this).html();
                var userAndPage = {"email":userEmail,"page":pageNum};
                $.ajax({
                    async:true,
                    url:"panSelectProductByUserName.page",
                    type:"POST",
                    dataType:"json",
			        contentType:"application/json;charset=utf-8",
			        data:JSON.stringify(userAndPage),
                    success:function(response){
                        $.each(response,function(i,v){	
                            $("#productList #productRow").append(
                                `<div class="col-lg-3 col-sm-6">
                             	    <div class="product-item">
                                    	<div class="pi-pic">
                                        	<img src="img/products/${v.cPhoto}" alt="">
                                                <ul>
                                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                                    <li class="quick-view"><a href="panProductPage?id=${v.pId}">+ Quick View</a></li>
                                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                                </ul>
                                        </div>
                                        <div class="pi-text">
                                        	<div class="catagory-name">${v.pMain}</div>
                                            <a href="panProductPage?id=${v.pId}">
                                                <h5>${v.pName}</h5>
                                            </a>
                                            <div class="product-price">
                                                ${v.price}
                                            </div>
                                        </div>
                                    </div>
                                </div>`  
                            );
                        });
                    },
                    error:function(msg){
                        console.log(msg);
                    }
                });
            });

            // 載入分類項目之頁數與總數
            var userMainValue = null;
            $("#filterControl ul").on("click",".productMainLi",function(){
                $("#filterControl ul li").removeClass("active");
                $(this).addClass("active");
                $("#productList #productRow").html("");
                $("#pageBox ul").html("");
                $("#totalElements").html("");
                userMainValue = $(this).html();
                var userEmail = $("#secretUserEmail").html();
                var userData = {"pMain":userMainValue,"email":userEmail};
                $.ajax({
			        async:true,
			        url:"panFindProductMainPage",
			        type:"POST",
			        dataType:"json",
			        contentType:"application/json;charset=utf-8",
			        data:JSON.stringify(userData),
                    success:function(pageData){
                        $.each(pageData,function(i,v){
                            var pages = parseInt(v.totalPages);
                            var total = v.totalElements;
                            for(n=1;n<=pages;n++){
                                $("#pageBox ul").append(
                                    `<li class="productMainPage">${n}</li>`
                                );
                            };
                            $("#totalElements").html(total);
                        });
                        $("#pageBox ul li").first().addClass("active");
                    },
                    error:function(msg){
                        console.log(msg);
                    }
                });

                // 載入分類項入之商品
                $.ajax({
                    async:true,
                    url:"panSelectProductByMainAndName",
                    type:"POST",
                    dataType:"json",
                    contentType:"application/json;charset=utf-8",
                    data:JSON.stringify(userData),
                    success:function(response){
                        $.each(response,function(i,v){
                            $("#productList #productRow").append(
                                `<div class="col-lg-3 col-sm-6">
                         	        <div class="product-item">
                                    	<div class="pi-pic">
                                        	<img src="img/products/${v.cPhoto}" alt="">
                                                <ul>
                                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                                    <li class="quick-view"><a href="panProductPage?id=${v.pId}">+ Quick View</a></li>
                                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                                </ul>
                                        </div>
                                        <div class="pi-text">
                                        	<div class="catagory-name">${v.pMain}</div>
                                            <a href="panProductPage?id=${v.pId}">
                                                <h5>${v.pName}</h5>
                                            </a>
                                            <div class="product-price">
                                                ${v.price}
                                            </div>
                                        </div>
                                    </div>
                                </div>` 
                            );
                        });
                    },
                    error:function(msg){
                        console.log(msg);
                    }
                });
            });

            // 註冊分類商品查詢之頁籤
            $("#pageBox ul").on("click",".productMainPage",function(){
                $("#pageBox ul li").removeClass("active");
                $(this).addClass("active");
                $("#productList #productRow").html("");
                var pageNum = $(this).html();
                var userAndPage = {"pMain":userMainValue,"email":userEmail,"page":pageNum};
                $.ajax({
                    async:true,
                    url:"panSelectProductByMainAndName.page",
                    type:"POST",
                    dataType:"json",
                    contentType:"application/json;charset=utf-8",
                    data:JSON.stringify(userAndPage),
                    success:function(response){
                        $.each(response,function(i,v){
                            $("#productList #productRow").append(
                                `<div class="col-lg-3 col-sm-6">
                         	        <div class="product-item">
                                    	<div class="pi-pic">
                                        	<img src="img/products/${v.cPhoto}" alt="">
                                                <ul>
                                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                                    <li class="quick-view"><a href="panProductPage?id=${v.pId}">+ Quick View</a></li>
                                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                                </ul>
                                        </div>
                                        <div class="pi-text">
                                        	<div class="catagory-name">${v.pMain}</div>
                                            <a href="panProductPage?id=${v.pId}">
                                                <h5>${v.pName}</h5>
                                            </a>
                                            <div class="product-price">
                                                ${v.price}
                                            </div>
                                        </div>
                                    </div>
                                </div>` 
                            );
                        });
                    },
                    error:function(msg){
                        console.log(msg);
                    }
                });
            });

            // 當適用者點選ALL頁籤時，新載回所有商品
            $("#userProductAll").click(function(){
                $("#filterControl ul li").removeClass("active");
                $(this).addClass("active");
                $("#productList #productRow").html("");
                $("#pageBox ul").html("");
                $("#totalElements").html("");
                var userEmail = $("#secretUserEmail").html();
		        var userData = {"email":userEmail};
		        $.ajax({
			        async:true,
			        url:"panFindProductPage",
			        type:"POST",
			        dataType:"json",
			        contentType:"application/json;charset=utf-8",
			        data:JSON.stringify(userData),
                    success:function(pageData){
                        $.each(pageData,function(i,v){
                            var pages = parseInt(v.totalPages);
                            for(n=1;n<=pages;n++){
                                $("#pageBox ul").append(
                                    `<li class="productAllPage">${n}</li>`
                                );
                            };
                            $("#totalElements").append(
                                `<span>${v.totalElements}</span>`
                            );
                        });
                        $("#pageBox ul li").first().addClass("active");
                    },
                    error:function(msg){
                        console.log(msg);
                    }
                });
		        $.ajax({
			        async:true,
			        url:"panSelectProductByUserName",
			        type:"POST",
			        dataType:"json",
			        contentType:"application/json;charset=utf-8",
			        data:JSON.stringify(userData),
			        success:function(response){
                        $.each(response,function(i,v){	
                            $("#productList #productRow").append(
                                `<div class="col-lg-3 col-sm-6">
                             	    <div class="product-item">
                                    	<div class="pi-pic">
                                        	<img src="img/products/${v.cPhoto}" alt="">
                                                <ul>
                                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                                    <li class="quick-view"><a href="panProductPage?id=${v.pId}">+ Quick View</a></li>
                                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                                </ul>
                                        </div>
                                        <div class="pi-text">
                                        	<div class="catagory-name">${v.pMain}</div>
                                            <a href="panProductPage?id=${v.pId}">
                                                <h5>${v.pName}</h5>
                                            </a>
                                            <div class="product-price">
                                                ${v.price}
                                            </div>
                                        </div>
                                    </div>
                                </div>`  
                            );
				        });
			        },
			        error:function(msg){
			        	console.log(msg);
			        }
                });
            });
            
            /*
            -------------------------------------------------------------
                userArticle
            */
            $.ajax({
                url:"panfindUserArticle",
                type:"POST",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(userData),
                success:function(result){
                    $.each(result,function(i,v){
                        var essay = v.description;
                        if(essay == null || essay == "" || essay == "寫點什麼吧!!!"){
                            $("#userDescription").html("");
                        }
                        else{
                            $("#userDescription").html(essay);
                        }
                    });
                },
                error:function(msg){
                    console.log(msg);
                }
            });

            $.ajax({
                url:"panfindUserArticle",
                type:"POST",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(userData),
                success:function(result){
                    $.each(result,function(i,v){
                        var essay = v.articleContext;
                        if(essay == null || essay == "" || essay == "寫點什麼吧!!!"){
                            $("#userArticle").html("");
                        }
                        else{
                            $("#userArticle").html(essay);
                        }
                    });
                },
                error:function(msg){
                    console.log(msg);
                }
            });
        });
         
    </script>
</head>

<body>
	<span th:text="${user}" style="display: none;" id="loginInfo"></span>
	<span id="secretUserEmail" th:text="${secretUserEmail}"
		style="display: none;"></span>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="ht-left"></div>
				<div class="ht-right">
					<a href="logout" class="login-panel" th:text="Logout"><i
						class="fa fa-user"></i></a> <a href="loginPage" class="login-panel"
						th:text="Login"><i class="fa fa-user"></i></a>


					<div class="top-social">
						<div class="mail-service">
							<a class=" fa fa-envelope" id="userPageControl" href="#"
								th:text="${user}"></a>
							<!-- 進入使用者個人資料的頁面(賣家頁面) -->

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="inner-header">
				<div class="row">
					<div class="col-lg-2 col-md-2">
						<div class="logo">
							<a href="index"> <img src="img/logo.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-lg-7 col-md-7">
						<div class="advanced-search">
							<button type="button" class="category-btn">所　有　分　類　</button>
							<div class="input-group">
								<input type="text" id="textSelectFormInput" placeholder="您在搜尋什麼商品嗎?">
								<button type="button" class="ml-5" id="textSelectFormSearch">
									<i class="ti-search"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="col-lg-3 text-right col-md-3">
						<ul class="nav-right">

							<li class="cart-icon"><a href="#"> <i
									class="icon_bag_alt"></i> <span>3</span>
							</a>
								<div class="cart-hover">
									<div class="select-items">
										<table>
											<tbody>
												<tr>
													<td class="si-pic"><img src="img/select-product-1.jpg"
														alt=""></td>
													<td class="si-text">
														<div class="product-selected">
															<p>$60.00 x 1</p>
															<h6>Kabino Bedside Table</h6>
														</div>
													</td>
													<td class="si-close"><i class="ti-close"></i></td>
												</tr>
												<tr>
													<td class="si-pic"><img src="img/select-product-2.jpg"
														alt=""></td>
													<td class="si-text">
														<div class="product-selected">
															<p>$60.00 x 1</p>
															<h6>Kabino Bedside Table</h6>
														</div>
													</td>
													<td class="si-close"><i class="ti-close"></i></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="select-total">
										<span>總共:</span>
										<h5>$120.00</h5>
									</div>
									<div class="select-button">
										<a href="#" class="primary-btn view-card">購　物　車</a> <a
											href="#" class="primary-btn checkout-btn">結　　　帳</a>
									</div>
								</div></li>
							<li class="cart-price">$150.00</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-item">
			<div class="container">
				<div class="nav-depart">
					<div class="depart-btn">
						<i class="ti-menu"></i> <span>所有選項</span>
						<ul class="depart-hover">
							<li class="testActive"><a href="#">飾　　　　品</a></li>
							<li class="testActive"><a href="#">服　　　　飾</a></li>
							<li class="testActive"><a href="#">生　　　　活</a></li>
							<li class="testActive"><a href="#">玩　　　　具</a></li>
							<li class="testActive"><a href="#">藝　　　　術</a></li>
							<li class="testActive"><a href="#">經　　　　典</a></li>
						</ul>
					</div>
				</div>
				<nav class="nav-menu mobile-menu">
					<ul>
						<li class="active"><a href="index">首　頁</a></li>
						<li><a href="shopPage">商　城</a></li>
						<li><a href="blog">部落格</a></li>
						<li><a href="Activity">活　動</a></li>
						<li><a href="faq">問與答</a></li>

					</ul>
				</nav>
				<div id="mobile-menu-wrap"></div>
			</div>
		</div>
	</header>
	<!-- Header End -->

	<!-- Blog Details Section Begin -->
	<section class="blog-details spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="blog-details-inner">
						<div class="blog-detail-title">
							<div class="blog-large-pic">
								<img src="img/blog/blog-detail.jpg" alt="">
							</div>
							<h2>The Personality Trait That Makes People Happier</h2>
							<p>
								travel <span>- May 19, 2019</span>
							</p>
						</div>
						<div class="posted-by" id="userDetailBox">
							<!-- 使用者的基本資料 Here -->
						</div>
						<div id="userDescription">
                            <!-- 文章1 -->
                        </div>
						<div class="blog-more">
							<div class="row">
								<div class="col-sm-4">
									<img src="img/blog/blog-detail-1.jpg" alt="">
								</div>
								<div class="col-sm-4">
									<img src="img/blog/blog-detail-2.jpg" alt="">
								</div>
								<div class="col-sm-4">
									<img src="img/blog/blog-detail-3.jpg" alt="">
								</div>
							</div>
						</div>
                        <div id="userArticle">
                            <!-- 文章2 -->
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="product-shop spad">
		<div class="container">
			<div class="row" id="productMainRow">
				<div class="col-lg-12 order-1 order-lg-2">
					<h3>更多此賣家作品</h3>
					<div class="filter-control" id="filterControl">
						<ul>
							<li class="active" id="userProductAll">ALL</li>
							<!-- add product main Here -->
						</ul>
					</div>
					<div class="product-list" id="productList">
						<div class="row" id="productRow">
							<!-- productBox Here -->
						</div>
					</div>
					<div class="filter-control" id="pageBox">
						<ul>

						</ul>
						<div id="totalElements"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="blog-details spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="blog-details-inner">
						<div class="tag-share">
							<div class="details-tag">
								<ul>
									<li><i class="fa fa-tags"></i></li>
									<li>Travel</li>
									<li>Beauty</li>
									<li>Fashion</li>
								</ul>
							</div>
							<div class="blog-share">
								<span>Share:</span>
								<div class="social-links">
									<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
										class="fa fa-twitter"></i></a> <a href="#"><i
										class="fa fa-google-plus"></i></a> <a href="#"><i
										class="fa fa-instagram"></i></a> <a href="#"><i
										class="fa fa-youtube-play"></i></a>
								</div>
							</div>
						</div>
						<div class="blog-post">
							<div class="row">
								<div class="col-lg-5 col-md-6">
									<a href="#" class="prev-blog">
										<div class="pb-pic">
											<i class="ti-arrow-left"></i> <img
												src="img/blog/prev-blog.png" alt="">
										</div>
										<div class="pb-text">
											<span>Previous Post:</span>
											<h5>The Personality Trait That Makes People Happier</h5>
										</div>
									</a>
								</div>
								<div class="col-lg-5 offset-lg-2 col-md-6">
									<a href="#" class="next-blog">
										<div class="nb-pic">
											<img src="img/blog/next-blog.png" alt=""> <i
												class="ti-arrow-right"></i>
										</div>
										<div class="nb-text">
											<span>Next Post:</span>
											<h5>The Personality Trait That Makes People Happier</h5>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="leave-comment">
							<h4>Leave A Comment</h4>
							<form action="#" class="comment-form">
								<div class="row">
									<div class="col-lg-6">
										<input type="text" placeholder="Name">
									</div>
									<div class="col-lg-6">
										<input type="text" placeholder="Email">
									</div>
									<div class="col-lg-12">
										<textarea placeholder="Messages"></textarea>
										<button type="submit" class="site-btn">Send message</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Details Section End -->

	<!-- Partner Logo Section Begin -->
	<div class="partner-logo">
		<div class="container">
			<div class="logo-carousel owl-carousel">
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-1.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-2.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-3.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-4.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-5.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Partner Logo Section End -->

<!-- Footer Section Begin -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="footer-left">
						<div class="footer-logo">
							<a href="#"><img src="img/footer-logo.png" alt=""></a>
						</div>
						<ul>
							<li>地址: 80147高雄市前金區中正四路211號8號樓之1</li>
							<li>電話: 07 969 9885</li>
							<li>電子信箱: vintage@gmail.com</li>
						</ul>
						<div class="footer-social">
							<a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
							<a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
							<a href="https://twitter.com"><i class="fa fa-twitter"></i></a> <a
								href="https://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1">
					<div class="footer-widget">
						<h5>資訊</h5>
						<ul>
							<li><a href="#">關於我們</a></li>
							<li><a href="#">首頁</a></li>
							<!-- 							<li><a href="#">Contact</a></li> -->
							<li><a href="#">Q&A</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="footer-widget">
						<h5>我的帳戶</h5>
						<ul>
							<li><a href="#">個人帳戶</a></li>
							<!-- 							<li><a href="#">Contact</a></li> -->
							<li><a href="#">購物車</a></li>
							<li><a href="#">商城</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="newslatter-item">
						<h5>現在就加入我們的電子報！</h5>
						<p>獲取最新最即時的商品資訊</p>
						<form action="#" class="subscribe-form">
							<input type="text" placeholder="輸入您的電子信箱">
							<button type="button">訂閱</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-reserved">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="copyright-text">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</div>
						<div class="payment-pic">
							<img src="img/payment-method.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->


	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/jquery.countdown.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	<script src="js/jquery.dd.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>