<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashi | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
	$(function() {
		var userEmail = $("#userPageControl").html();
		var cUrl = "panUserControlPage?email=";
		$("#userPageControl").click(function(){
			$(this).attr("href",cUrl+userEmail);
		});
		var mUrl = "panAllPageMainLink?pMain=";
		$(".testActive a").click(function(){
			var allPageMainValue = $(this).html();
			$(this).attr("href",mUrl+allPageMainValue);
		});

		$("#textSelectFormSearch").click(function(){
			fUrl = "panAllPageFormLink?pName=";
			var allPageFormValue = $("#textSelectFormInput").val();
			if(allPageFormValue == ""){}
			else{
				window.location.href=fUrl+allPageFormValue;
			}
		});
		
		/*
		--------------------------------------------------------
			載入全部部落客內容
		*/
		
		$.ajax({
			url:"panSelectAllBlog",
            type:"POST",
            dataType:"json",
            contentType:"application/json;charset=utf-8",
            success:function(response){
                $.each(response,function(i,v){
                    $("#showBlogBox #showBlogRow").append(
                        `<div class="col-lg-6 col-sm-6">
                            <div class="blog-item">
                                <div class="bi-pic">
                                    <img src="img/blog/${v.userPicMain}" alt="">
                                </div>
                                <div class="bi-text">
                                    <a href="panUserPage?email=${v.email}">
                                        <h4>${v.userName}</h4>
                                    </a>
                                </div>
                            </div>
                        </div>`
                    );
                });
            },
            error:function(msg){
                console.log(msg);
            }
		});

        $.ajax({
			url:"panSelectAllBlog",
            type:"POST",
            dataType:"json",
            contentType:"application/json;charset=utf-8",
            success:function(response){
                $.each(response,function(i,v){
                    $(".recent-blog").append(
                        `<a href="panUserPage?email=${v.email}" class="rb-item">
                            <div class="rb-pic">
                                <img src="img/blog/${v.userPicMain}" alt="">
                            </div>
                            <div class="rb-text">
                                <h6>${v.userName}</h6>
                            </div>
                        </a>`
                    );
                });
            },
            error:function(msg){
                console.log(msg);
            }
		});


        $("#searchSubmit").click(function(){
            var userName = $("#searchInput").val();
            if(userName == ""){}
            else{
                $("#showBlogBox #showBlogRow").html("");
                var userData = {"userName":userName};
                $.ajax({
			        url:"panSelectBlogByName",
                    type:"POST",
                    dataType:"json",
                    contentType:"application/json;charset=utf-8",
                    data:JSON.stringify(userData),
                    success:function(response){
                        if(response == ""){
                            $("#showBlogBox #showBlogRow").append(
                                `<div>
                                    <img src="img/data-Not-found/dataNotFound.jpeg">
                                    <h4>沒有找到你要內容 இдஇ</h4>
                                </div>`
                            );
                        }
                        $.each(response,function(i,v){
                            $("#showBlogBox #showBlogRow").append(
                                `<div class="col-lg-6 col-sm-6">
                                    <div class="blog-item">
                                        <div class="bi-pic">
                                            <img src="img/blog/${v.userPicMain}" alt="">
                                        </div>
                                        <div class="bi-text">
                                            <a href="panUserPage?email=${v.email}">
                                                <h4>${v.userName}</h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>`
                            );
                        });
                    },
                    error:function(msg){
                        console.log(msg);
                    }
		        });
            }
        });
		
		/*
        ---------------------------------------------------------
        ShoppingCart
        */
        // 註冊方法搜尋此使用者購物車裏的商品數量
        var loginUser = $("#loginInfo").html();
        var userData = {"email":loginUser};
        function update(){
        	$("#shoppingQuantity").html("");
            $.ajax({
                url:"panfindShoppingProductQuantity",
                type:"POST",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(userData),
                success:function(response){
                    $("#shoppingQuantity").html(response);
                },
                error:function(msg){
                    console.log(msg);
                }
            });
        };
        
        function updatePrice(){
        	$("#selectTotal").html("");
            $.ajax({
                url:"panSelectShoppingCartPrice",
                type:"POST",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(userData),
                success:function(result){
                    $("#selectTotal").html(result);
                },
                error:function(msg){
                    concole.log(msg);
                }
            });
        };
        
        function updateShoppingCart(){
        	$("#shoppingList").html("");
            $.ajax({
                url:"panSelectShoppingCart",
                type:"POST",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(userData),
                success:function(response){
                    $.each(response,function(i,v){
                        $("#shoppingList").append(
                            `<tr>
                                <td style="display: none;">${v.cartId}</td>													
                                <td class="si-pic"><img src="img/products/${v.cPhoto}"											
                                    alt=""></td>												
                                <td class="si-text">												
                                	<div class="product-selected">														
                                        <p>$${v.price} x ${v.amount}</p>														
                                        <h6>${v.pName}</h6>									
                                	</div>										
                                </td>											
                                <td class="si-close"><a href="#">X</a></td>									
                            </tr>`
                        );
                    }); 
                },
                error:function(msg){
                    concole.log(msg);
                }
            });
        };
        // 頁面載入時尋此使用者購物車裏的商品數量
        update();
		updateShoppingCart();
		updatePrice();
        // 點選數量加入購物車
        $("#shoppingCart").click(function(e){
            e.preventDefault();
            var productId = $("#secretProductId").html();
            var productName = $("#secretProductName").html();
            var productPrice = $("#secretPrice").html();
            var amount = $("#amount").val();
            var productPhoto = $("#secretPhoto").html();
            var shoppingData = {"email":loginUser,"pId":productId,"pName":productName,"price":productPrice,"amount":amount,"cPhoto":productPhoto};
            $.ajax({
                url:"addshoppingCart",
                type:"POST",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(shoppingData),
                success:function(resultMsg){
                    var jsonMsg = $.parseJSON(resultMsg);
                    alert(jsonMsg);
                },
                error:function(msg){
                    console.log(msg);
                }
            });
            update();
            updateShoppingCart();
            updatePrice();
        });

        
        // 刪除購物車裡的物品
        $("#shoppingList tr .si-close").on("click","a",function(e){
        	e.preventDefault();
            $(this).closest("tr").remove();
            var cartId = $("td").first().html();
            var cartData = {"cartId":cartId};
            $.ajax({
                url:"panDeleteShoppingProduct",
                type:"POST",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(cartData),
                success:function(result){
                    var jsonMsg = $.parseJSON(result);
                    alert(jsonMsg);
                },
                error:function(msg){
                    console.log(msg);
                }
            });
            update();
            updateShoppingCart();
            updatePrice();
        });
	});
</script>
</head>

<body>
   <p th:value="${user}" type="hidden" id="loginInfo"></p>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="ht-left"></div>
				<div class="ht-right">
					<a href="logout" class="login-panel" th:text="Logout"><i
						class="fa fa-user"></i></a> <a href="loginPage" class="login-panel"
						th:text="Login"><i class="fa fa-user"></i></a>


					<div class="top-social">
						<div class="mail-service">
							<a class=" fa fa-envelope" id="userPageControl" href="#"
								th:text="${user}"></a>
							<!-- 進入使用者個人資料的頁面(賣家頁面) -->

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="inner-header">
				<div class="row">
					<div class="col-lg-2 col-md-2">
						<div class="logo">
							<a href="index"> <img src="img/logo.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-lg-7 col-md-7">
						<div class="advanced-search">
							<button type="button" class="category-btn">所　有　分　類　</button>
							<div class="input-group">
								<input type="text" id="textSelectFormInput" placeholder="您在搜尋什麼商品嗎?">
								<button type="button" class="ml-5" id="textSelectFormSearch">
									<i class="ti-search"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="col-lg-3 text-right col-md-3">`
						<ul class="nav-right">

							<li class="cart-icon"><a href="#"> <i
									class="icon_bag_alt"></i> 
                                    <span id="shoppingQuantity">
                                        <!-- shoppingQuantity Here -->
                                    </span>
							</a>
								<div class="cart-hover">
									<div class="select-items" style="height: 210px;overflow: auto;">
										<table> 
											<tbody id="shoppingList">
                                                <!-- ShoppingList Here -->
											</tbody>
										</table>
									</div>
									<div class="select-total">
										<span>總共:</span>
										<h5 id="selectTotal"><!-- selectTotal Here --></h5>
									</div>
									<div class="select-button">
										<a href="shoppingCart" class="primary-btn view-card">購　物　車</a> <a
											href="checkOut" class="primary-btn checkout-btn">結　　　帳</a>
									</div>
								</div></li>
							<li class="cart-price">$150.00</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-item">
			<div class="container">
				<div class="nav-depart">
					<div class="depart-btn">
						<i class="ti-menu"></i> <span>所有選項</span>
						<ul class="depart-hover">
							<li class="testActive"><a href="#">飾品</a></li>
							<li class="testActive"><a href="#">服飾</a></li>
							<li class="testActive"><a href="#">生活</a></li>
							<li class="testActive"><a href="#">玩具</a></li>
							<li class="testActive"><a href="#">藝術</a></li>
							<li class="testActive"><a href="#">經典</a></li>
						</ul>
					</div>
				</div>
				<nav class="nav-menu mobile-menu">
					<ul>
						<li><a href="index">首　頁</a></li>
						<li><a href="shopPage">商　城</a></li>
						<li class="active"><a href="blog">部落格</a></li>
						<li><a href="Activity">活　動</a></li>
						<li><a href="faq">問與答</a></li>

					</ul>
				</nav>
				<div id="mobile-menu-wrap"></div>
			</div>
		</div>
	</header>
	<!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1">
                    <div class="blog-sidebar">
                        <div class="search-form">
                            <h4>Search</h4>
                            <form>
                                <input type="text" placeholder="Search . . .  " id="searchInput">
                                <button type="button" id="searchSubmit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="recent-post">
                            <h4>Recent Post</h4>
                            <div class="recent-blog">
                                <!-- recent-blog Here -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2" id="showBlogBox">
                    <div class="row" id="showBlogRow">
                        <!-- Blog Here -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

<!-- Footer Section Begin -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="footer-left">
						<div class="footer-logo">
							<a href="#"><img src="img/footer-logo.png" alt=""></a>
						</div>
						<ul>
							<li>地址: 80147高雄市前金區中正四路211號8號樓之1</li>
							<li>電話: 07 969 9885</li>
							<li>電子信箱: vintage@gmail.com</li>
						</ul>
						<div class="footer-social">
							<a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
							<a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
							<a href="https://twitter.com"><i class="fa fa-twitter"></i></a> <a
								href="https://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1">
					<div class="footer-widget">
						<h5>資訊</h5>
						<ul>
							<li><a href="#">關於我們</a></li>
							<li><a href="#">首頁</a></li>
							<!-- 							<li><a href="#">Contact</a></li> -->
							<li><a href="#">Q&A</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="footer-widget">
						<h5>我的帳戶</h5>
						<ul>
							<li><a href="#">個人帳戶</a></li>
							<!-- 							<li><a href="#">Contact</a></li> -->
							<li><a href="#">購物車</a></li>
							<li><a href="#">商城</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="newslatter-item">
						<h5>現在就加入我們的電子報！</h5>
						<p>獲取最新最即時的商品資訊</p>
						<form action="#" class="subscribe-form">
							<input type="text" placeholder="輸入您的電子信箱">
							<button type="button">訂閱</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-reserved">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="copyright-text">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</div>
						<div class="payment-pic">
							<img src="img/payment-method.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->


    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/jquery.dd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>