<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Fashi Template">
<meta name="keywords" content="Fashi, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Fashi | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/themify-icons.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
<script src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	$(function() {
		var userEmail = $("#userPageControl").html();
		var cUrl = "panUserControlPage?email=";
		$("#userPageControl").click(function(){
			$(this).attr("href",cUrl+userEmail);
		});
		var mUrl = "panAllPageMainLink?pMain=";
		$(".testActive a").click(function(){
			var allPageMainValue = $(this).html();
			$(this).attr("href",mUrl+allPageMainValue);
		});

		$("#textSelectFormSearch").click(function(){
			fUrl = "panAllPageFormLink?pName=";
			var allPageFormValue = $("#textSelectFormInput").val();
			if(allPageFormValue == ""){}
			else{
				window.location.href=fUrl+allPageFormValue;
			}
		});
		

        /*
        ---------------------------------------------------------
        ShoppingCart
        */
        // 註冊方法搜尋此使用者購物車裏的商品數量
        var loginUser = $("#loginInfo").html();
        var userData = {"email":loginUser};
        function update(){
        	$("#shoppingQuantity").html("");
            $.ajax({
                url:"panfindShoppingProductQuantity",
                type:"POST",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(userData),
                success:function(response){
                    $("#shoppingQuantity").html(response);
                },
                error:function(msg){
                    console.log(msg);
                }
            });
        };
        
        function updatePrice(){
        	$("#selectTotal").html("");
            $.ajax({
                url:"panSelectShoppingCartPrice",
                type:"POST",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(userData),
                success:function(result){
                    $("#selectTotal").html(result);
                },
                error:function(msg){
                    concole.log(msg);
                }
            });
        };
        
        function updateShoppingCart(){
        	$("#shoppingList").html("");
            $.ajax({
                url:"panSelectShoppingCart",
                type:"POST",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(userData),
                success:function(response){
                    $.each(response,function(i,v){
                        $("#shoppingList").append(
                            `<tr>
                                <td style="display: none;">${v.cartId}</td>													
                                <td class="si-pic"><img src="img/products/${v.cPhoto}"											
                                    alt=""></td>												
                                <td class="si-text">												
                                	<div class="product-selected">														
                                        <p>$${v.price} x ${v.amount}</p>														
                                        <h6>${v.pName}</h6>									
                                	</div>										
                                </td>											
                                <td class="si-close"><a href="#">X</a></td>									
                            </tr>`
                        );
                    }); 
                },
                error:function(msg){
                    concole.log(msg);
                }
            });
        };
        // 頁面載入時尋此使用者購物車裏的商品數量
        update();
		updateShoppingCart();
		updatePrice();
        // 點選數量加入購物車
        $("#shoppingCart").click(function(e){
            e.preventDefault();
            var productId = $("#secretProductId").html();
            var productName = $("#secretProductName").html();
            var productPrice = $("#secretPrice").html();
            var amount = $("#amount").val();
            var productPhoto = $("#secretPhoto").html();
            var shoppingData = {"email":loginUser,"pId":productId,"pName":productName,"price":productPrice,"amount":amount,"cPhoto":productPhoto};
            $.ajax({
                url:"addshoppingCart",
                type:"POST",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(shoppingData),
                success:function(resultMsg){
                    var jsonMsg = $.parseJSON(resultMsg);
                    alert(jsonMsg);
                },
                error:function(msg){
                    console.log(msg);
                }
            });
            update();
            updateShoppingCart();
            updatePrice();
        });

        
        // 刪除購物車裡的物品
        $("#shoppingList tr .si-close").on("click","a",function(e){
        	e.preventDefault();
            $(this).closest("tr").remove();
            var cartId = $("td").first().html();
            var cartData = {"cartId":cartId};
            $.ajax({
                url:"panDeleteShoppingProduct",
                type:"POST",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(cartData),
                success:function(result){
                    var jsonMsg = $.parseJSON(result);
                    alert(jsonMsg);
                },
                error:function(msg){
                    console.log(msg);
                }
            });
            update();
            updateShoppingCart();
            updatePrice();
        });
	});
</script>

</head>

<script>
	
</script>

<body>
	<p th:value="${user}" type="hidden" id="loginInfo"></p>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="ht-left"></div>
				<div class="ht-right">
					<a href="logout" class="login-panel" th:text="Logout"><i
						class="fa fa-user"></i></a> <a href="loginPage" class="login-panel"
						th:text="Login"><i class="fa fa-user"></i></a>


					<div class="top-social">
						<div class="mail-service">
							<a class=" fa fa-envelope" id="userPageControl" href="#"
								th:text="${user}"></a>
							<!-- 進入使用者個人資料的頁面(賣家頁面) -->

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="inner-header">
				<div class="row">
					<div class="col-lg-2 col-md-2">
						<div class="logo ml-5">
							<a href="index"> <img src="img/VintageLogo8888.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 mt-4">
						<div class="advanced-search">
							<button type="button" class="category-btn">找 所 有 分 類</button>
							<div class="input-group">
								<input type="text" id="textSelectFormInput" placeholder="您在搜尋什麼商品嗎?">
								<button type="button" class="ml-5" id="textSelectFormSearch">
									<i class="ti-search"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="col-lg-3 text-right col-md-3">`
						<ul class="nav-right">

							<li class="cart-icon"><a href="#"> <i
									class="icon_bag_alt"></i> 
                                    <span id="shoppingQuantity">
                                        <!-- shoppingQuantity Here -->
                                    </span>
							</a>
								<div class="cart-hover">
									<div class="select-items" style="height: 210px;overflow: auto;">
										<table> 
											<tbody id="shoppingList">
                                                <!-- ShoppingList Here -->
											</tbody>
										</table>
									</div>
									<div class="select-total">
										<span>總共:</span>
										<h5 id="selectTotal"><!-- selectTotal Here --></h5>
									</div>
									<div class="select-button">
										<a href="shoppingCart" class="primary-btn view-card">購　物　車</a> <a
											href="checkOut" class="primary-btn checkout-btn">結　　　帳</a>
									</div>
								</div></li>
							<li class="cart-price">$150.00</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-item">
			<div class="container">
				<div class="nav-depart">
					<div class="depart-btn">
						<i class="ti-menu"></i> <span>所有選項</span>
						<ul class="depart-hover">
							<li class="testActive"><a href="#">飾品</a></li>
							<li class="testActive"><a href="#">服飾</a></li>
							<li class="testActive"><a href="#">生活</a></li>
							<li class="testActive"><a href="#">玩具</a></li>
							<li class="testActive"><a href="#">藝術</a></li>
							<li class="testActive"><a href="#">經典</a></li>
						</ul>
					</div>
				</div>
				<nav class="nav-menu mobile-menu">
					<ul>
						<li class="active"><a href="index">首 頁</a></li>
						<li><a href="shopPage">商 城</a></li>
						<li><a href="blog">部落格</a></li>
						<li><a href="Activity">活 動</a></li>
						<li><a href="faq">問與答</a></li>

					</ul>
				</nav>
				<div id="mobile-menu-wrap"></div>
			</div>
		</div>
	</header>
	<!-- Header End -->

	<!-- Hero Section Begin -->
	<section class="hero-section">
		<div class="hero-items owl-carousel">
			<div class="single-hero-items set-bg" data-setbg="img/hero-1.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<span>Bag,kids</span>
							<h1>Black friday</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
								sed do eiusmod tempor incididunt ut labore et dolore</p>
							<a href="#" class="primary-btn">Shop Now</a>
						</div>
					</div>
					<div class="off-card">
						<h2>
							Sale <span>50%</span>
						</h2>
					</div>
				</div>
			</div>
			<div class="single-hero-items set-bg" data-setbg="img/hero-2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<span>Bag,kids</span>
							<h1>Black friday</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
								sed do eiusmod tempor incididunt ut labore et dolore</p>
							<a href="#" class="primary-btn">Shop Now</a>
						</div>
					</div>
					<div class="off-card">
						<h2>
							Sale <span>50%</span>
						</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero Section End -->

	<!-- Banner Section Begin -->
	<div class="banner-section spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4">
					<div class="single-banner">
						<img src="img/banner-1.jpg" alt="">
						<div class="inner-text">
							<h4>Men’s</h4>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-banner">
						<img src="img/banner-2.jpg" alt="">
						<div class="inner-text">
							<h4>Women’s</h4>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-banner">
						<img src="img/banner-3.jpg" alt="">
						<div class="inner-text">
							<h4>Kid’s</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Banner Section End -->

	<!-- Women Banner Section Begin -->
	<section class="women-banner spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3">
					<div class="product-large set-bg"
						data-setbg="img/products/women-large.jpg">
						<h2>Women’s</h2>
						<a href="#">Discover More</a>
					</div>
				</div>
				<div class="col-lg-8 offset-lg-1">
					<div class="filter-control">
						<ul>
							<li class="active">Clothings</li>
							<li>HandBag</li>
							<li>Shoes</li>
							<li>Accessories</li>
						</ul>
					</div>
					<div class="product-slider owl-carousel">
						<div class="product-item">
							<div class="pi-pic">
								<img src="img/products/women-1.jpg" alt="">
								<div class="sale">Sale</div>
								<div class="icon">
									<i class="icon_heart_alt"></i>
								</div>
								<ul>
									<li class="w-icon active"><a href="#"><i
											class="icon_bag_alt"></i></a></li>
									<li class="quick-view"><a href="#">+ Quick View</a></li>
									<li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
								</ul>
							</div>
							<div class="pi-text">
								<div class="catagory-name">Coat</div>
								<a href="#">
									<h5>Pure Pineapple</h5>
								</a>
								<div class="product-price">
									$14.00 <span>$35.00</span>
								</div>
							</div>
						</div>
						<div class="product-item">
							<div class="pi-pic">
								<img src="img/products/women-2.jpg" alt="">
								<div class="icon">
									<i class="icon_heart_alt"></i>
								</div>
								<ul>
									<li class="w-icon active"><a href="#"><i
											class="icon_bag_alt"></i></a></li>
									<li class="quick-view"><a href="#">+ Quick View</a></li>
									<li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
								</ul>
							</div>
							<div class="pi-text">
								<div class="catagory-name">Shoes</div>
								<a href="#">
									<h5>Guangzhou sweater</h5>
								</a>
								<div class="product-price">$13.00</div>
							</div>
						</div>
						<div class="product-item">
							<div class="pi-pic">
								<img src="img/products/women-3.jpg" alt="">
								<div class="icon">
									<i class="icon_heart_alt"></i>
								</div>
								<ul>
									<li class="w-icon active"><a href="#"><i
											class="icon_bag_alt"></i></a></li>
									<li class="quick-view"><a href="#">+ Quick View</a></li>
									<li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
								</ul>
							</div>
							<div class="pi-text">
								<div class="catagory-name">Towel</div>
								<a href="#">
									<h5>Pure Pineapple</h5>
								</a>
								<div class="product-price">$34.00</div>
							</div>
						</div>
						<div class="product-item">
							<div class="pi-pic">
								<img src="img/products/women-4.jpg" alt="">
								<div class="icon">
									<i class="icon_heart_alt"></i>
								</div>
								<ul>
									<li class="w-icon active"><a href="#"><i
											class="icon_bag_alt"></i></a></li>
									<li class="quick-view"><a href="#">+ Quick View</a></li>
									<li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
								</ul>
							</div>
							<div class="pi-text">
								<div class="catagory-name">Towel</div>
								<a href="#">
									<h5>Converse Shoes</h5>
								</a>
								<div class="product-price">$34.00</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Women Banner Section End -->

	<!-- Deal Of The Week Section Begin-->
	<section class="deal-of-week set-bg spad" data-setbg="img/time-bg.jpg">
		<div class="container">
			<div class="col-lg-6 text-center">
				<div class="section-title">
					<h2>Deal Of The Week</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br />
						do ipsum dolor sit amet, consectetur adipisicing elit
					</p>
					<div class="product-price">
						$35.00 <span>/ HanBag</span>
					</div>
				</div>
				<div class="countdown-timer" id="countdown">
					<div class="cd-item">
						<span>56</span>
						<p>Days</p>
					</div>
					<div class="cd-item">
						<span>12</span>
						<p>Hrs</p>
					</div>
					<div class="cd-item">
						<span>40</span>
						<p>Mins</p>
					</div>
					<div class="cd-item">
						<span>52</span>
						<p>Secs</p>
					</div>
				</div>
				<a href="#" class="primary-btn">Shop Now</a>
			</div>
		</div>
	</section>
	<!-- Deal Of The Week Section End -->

	<!-- Man Banner Section Begin -->
	<section class="man-banner spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8">
					<div class="filter-control">
						<ul>
							<li class="active">Clothings</li>
							<li>HandBag</li>
							<li>Shoes</li>
							<li>Accessories</li>
						</ul>
					</div>
					<div class="product-slider owl-carousel">
						<div class="product-item">
							<div class="pi-pic">
								<img src="img/products/man-1.jpg" alt="">
								<div class="sale">Sale</div>
								<div class="icon">
									<i class="icon_heart_alt"></i>
								</div>
								<ul>
									<li class="w-icon active"><a href="#"><i
											class="icon_bag_alt"></i></a></li>
									<li class="quick-view"><a href="#">+ Quick View</a></li>
									<li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
								</ul>
							</div>
							<div class="pi-text">
								<div class="catagory-name">Coat</div>
								<a href="#">
									<h5>Pure Pineapple</h5>
								</a>
								<div class="product-price">
									$14.00 <span>$35.00</span>
								</div>
							</div>
						</div>
						<div class="product-item">
							<div class="pi-pic">
								<img src="img/products/man-2.jpg" alt="">
								<div class="icon">
									<i class="icon_heart_alt"></i>
								</div>
								<ul>
									<li class="w-icon active"><a href="#"><i
											class="icon_bag_alt"></i></a></li>
									<li class="quick-view"><a href="#">+ Quick View</a></li>
									<li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
								</ul>
							</div>
							<div class="pi-text">
								<div class="catagory-name">Shoes</div>
								<a href="#">
									<h5>Guangzhou sweater</h5>
								</a>
								<div class="product-price">$13.00</div>
							</div>
						</div>
						<div class="product-item">
							<div class="pi-pic">
								<img src="img/products/man-3.jpg" alt="">
								<div class="icon">
									<i class="icon_heart_alt"></i>
								</div>
								<ul>
									<li class="w-icon active"><a href="#"><i
											class="icon_bag_alt"></i></a></li>
									<li class="quick-view"><a href="#">+ Quick View</a></li>
									<li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
								</ul>
							</div>
							<div class="pi-text">
								<div class="catagory-name">Towel</div>
								<a href="#">
									<h5>Pure Pineapple</h5>
								</a>
								<div class="product-price">$34.00</div>
							</div>
						</div>
						<div class="product-item">
							<div class="pi-pic">
								<img src="img/products/man-4.jpg" alt="">
								<div class="icon">
									<i class="icon_heart_alt"></i>
								</div>
								<ul>
									<li class="w-icon active"><a href="#"><i
											class="icon_bag_alt"></i></a></li>
									<li class="quick-view"><a href="#">+ Quick View</a></li>
									<li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
								</ul>
							</div>
							<div class="pi-text">
								<div class="catagory-name">Towel</div>
								<a href="#">
									<h5>Converse Shoes</h5>
								</a>
								<div class="product-price">$34.00</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 offset-lg-1">
					<div class="product-large set-bg m-large"
						data-setbg="img/products/man-large.jpg">
						<h2>Men’s</h2>
						<a href="#">Discover More</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Man Banner Section End -->

	<!-- Instagram Section Begin -->
	<div class="instagram-photo">
		<div class="insta-item set-bg" data-setbg="img/insta-1.jpg">
			<div class="inside-text">
				<i class="ti-instagram"></i>
				<h5>
					<a href="#">colorlib_Collection</a>
				</h5>
			</div>
		</div>
		<div class="insta-item set-bg" data-setbg="img/insta-2.jpg">
			<div class="inside-text">
				<i class="ti-instagram"></i>
				<h5>
					<a href="#">colorlib_Collection</a>
				</h5>
			</div>
		</div>
		<div class="insta-item set-bg" data-setbg="img/insta-3.jpg">
			<div class="inside-text">
				<i class="ti-instagram"></i>
				<h5>
					<a href="#">colorlib_Collection</a>
				</h5>
			</div>
		</div>
		<div class="insta-item set-bg" data-setbg="img/insta-4.jpg">
			<div class="inside-text">
				<i class="ti-instagram"></i>
				<h5>
					<a href="#">colorlib_Collection</a>
				</h5>
			</div>
		</div>
		<div class="insta-item set-bg" data-setbg="img/insta-5.jpg">
			<div class="inside-text">
				<i class="ti-instagram"></i>
				<h5>
					<a href="#">colorlib_Collection</a>
				</h5>
			</div>
		</div>
		<div class="insta-item set-bg" data-setbg="img/insta-6.jpg">
			<div class="inside-text">
				<i class="ti-instagram"></i>
				<h5>
					<a href="#">colorlib_Collection</a>
				</h5>
			</div>
		</div>
	</div>
	<!-- Instagram Section End -->

	<!-- Latest Blog Section Begin -->
	<section class="latest-blog spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>From The Blog</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-blog">
						<img src="img/latest-1.jpg" alt="">
						<div class="latest-text">
							<div class="tag-list">
								<div class="tag-item">
									<i class="fa fa-calendar-o"></i> May 4,2019
								</div>
								<div class="tag-item">
									<i class="fa fa-comment-o"></i> 5
								</div>
							</div>
							<a href="#">
								<h4>The Best Street Style From London Fashion Week</h4>
							</a>
							<p>Sed quia non numquam modi tempora indunt ut labore et
								dolore magnam aliquam quaerat</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-blog">
						<img src="img/latest-2.jpg" alt="">
						<div class="latest-text">
							<div class="tag-list">
								<div class="tag-item">
									<i class="fa fa-calendar-o"></i> May 4,2019
								</div>
								<div class="tag-item">
									<i class="fa fa-comment-o"></i> 5
								</div>
							</div>
							<a href="#">
								<h4>Vogue's Ultimate Guide To Autumn/Winter 2019 Shoes</h4>
							</a>
							<p>Sed quia non numquam modi tempora indunt ut labore et
								dolore magnam aliquam quaerat</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-blog">
						<img src="img/latest-3.jpg" alt="">
						<div class="latest-text">
							<div class="tag-list">
								<div class="tag-item">
									<i class="fa fa-calendar-o"></i> May 4,2019
								</div>
								<div class="tag-item">
									<i class="fa fa-comment-o"></i> 5
								</div>
							</div>
							<a href="#">
								<h4>How To Brighten Your Wardrobe With A Dash Of Lime</h4>
							</a>
							<p>Sed quia non numquam modi tempora indunt ut labore et
								dolore magnam aliquam quaerat</p>
						</div>
					</div>
				</div>
			</div>
			<div class="benefit-items">
				<div class="row">
					<div class="col-lg-4">
						<div class="single-benefit">
							<div class="sb-icon">
								<img src="img/icon-1.png" alt="">
							</div>
							<div class="sb-text">
								<h6>Free Shipping</h6>
								<p>For all order over 99$</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-benefit">
							<div class="sb-icon">
								<img src="img/icon-2.png" alt="">
							</div>
							<div class="sb-text">
								<h6>Delivery On Time</h6>
								<p>If good have prolems</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-benefit">
							<div class="sb-icon">
								<img src="img/icon-1.png" alt="">
							</div>
							<div class="sb-text">
								<h6>Secure Payment</h6>
								<p>100% secure payment</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Latest Blog Section End -->

	<!-- Partner Logo Section Begin -->
	<div class="partner-logo">
		<div class="container">
			<div class="logo-carousel owl-carousel">
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-1.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-2.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-3.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-4.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-5.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Partner Logo Section End -->

	<!-- Footer Section Begin -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="footer-left">
						<div class="footer-logo">
							<a href="#"><img src="img/footer-logo.png" alt=""></a>
						</div>
						<ul>
							<li>地址: 80147高雄市前金區中正四路211號8號樓之1</li>
							<li>電話: 07 969 9885</li>
							<li>電子信箱: vintage@gmail.com</li>
						</ul>
						<div class="footer-social">
							<a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
							<a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
							<a href="https://twitter.com"><i class="fa fa-twitter"></i></a> <a
								href="https://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1">
					<div class="footer-widget">
						<h5>資訊</h5>
						<ul>
							<li><a href="#">關於我們</a></li>
							<li><a href="#">首頁</a></li>
							<!-- 							<li><a href="#">Contact</a></li> -->
							<li><a href="#">Q&A</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="footer-widget">
						<h5>我的帳戶</h5>
						<ul>
							<li><a href="#">個人帳戶</a></li>
							<!-- 							<li><a href="#">Contact</a></li> -->
							<li><a href="#">購物車</a></li>
							<li><a href="#">商城</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="newslatter-item">
						<h5>現在就加入我們的電子報！</h5>
						<p>獲取最新最即時的商品資訊</p>
						<form action="#" class="subscribe-form">
							<input type="text" placeholder="輸入您的電子信箱">
							<button type="button">訂閱</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-reserved">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="copyright-text">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</div>
						<div class="payment-pic">
							<img src="img/payment-method.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->

	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/jquery.countdown.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	<script src="js/jquery.dd.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>