<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Fashi Template">
<meta name="keywords" content="Fashi, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Fashi | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/themify-icons.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">

<script src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	$(function() {
		var userEmail = $("#userPageControl").html();
		var cUrl = "panUserControlPage?email=";
		$("#userPageControl").click(function(){
			$(this).attr("href",cUrl+userEmail);
		});
		var mUrl = "panAllPageMainLink?pMain=";
		$(".testActive a").click(function(){
			var allPageMainValue = $(this).html();
			$(this).attr("href",mUrl+allPageMainValue);
		});

		$("#textSelectFormSearch").click(function(){
			fUrl = "panAllPageFormLink?pName=";
			var allPageFormValue = $("#textSelectFormInput").val();
			if(allPageFormValue == ""){}
			else{
				window.location.href=fUrl+allPageFormValue;
			}
		});
	});
</script>
</head>

<body>
<p th:value="${user}" type="hidden" id="loginInfo"></p>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="ht-left"></div>
				<div class="ht-right">
					<a href="logout" class="login-panel" th:text="Logout"><i
						class="fa fa-user"></i></a> <a href="loginPage" class="login-panel"
						th:text="Login"><i class="fa fa-user"></i></a>


					<div class="top-social">
						<div class="mail-service">
							<a class=" fa fa-envelope" id="userPageControl" href="#"
								th:text="${user}"></a>
							<!-- 進入使用者個人資料的頁面(賣家頁面) -->

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="inner-header">
				<div class="row">
					<div class="col-lg-2 col-md-2">
						<div class="logo ml-5">
							<a href="index"> <img src="img/VintageLogo8888.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 mt-4">
						<div class="advanced-search">
							<button type="button" class="category-btn">關 鍵 字 搜 尋</button>
							<div class="input-group">
								<input type="text" id="textSelectFormInput"
									placeholder="您在搜尋什麼商品嗎?">
								<button type="button" class="ml-5" id="textSelectFormSearch">
									<i class="ti-search"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="col-lg-3 text-right col-md-3">
						
						<ul class="nav-right">

							<li class="cart-icon"><a href="#"> <i
									class="icon_bag_alt"></i> <span id="shoppingQuantity"> <!-- shoppingQuantity Here -->
								</span>
							</a>
								<div class="cart-hover">
									<div class="select-items"
										style="height: 210px; overflow: auto;">
										<table>
											<tbody id="shoppingList">
												<!-- ShoppingList Here -->
											</tbody>
										</table>
									</div>
									<div class="select-total">
										<span>總共:</span>
										<h5 id="selectTotal">
											<!-- selectTotal Here -->
										</h5>
									</div>
									<div class="select-button">
										<a href="shoppingCart" class="primary-btn view-card">加入購物車</a> <a
											href="checkOut" class="primary-btn checkout-btn">前往結帳</a>
									</div>
								</div></li>
							<li class="cart-price"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-item">
			<div class="container">
				<div class="nav-depart">
					<div class="depart-btn">
						<i class="ti-menu"></i> <span>所有選項</span>
						<ul class="depart-hover">
							<li class="testActive"><a href="#">飾品</a></li>
							<li class="testActive"><a href="#">服飾</a></li>
							<li class="testActive"><a href="#">生活</a></li>
							<li class="testActive"><a href="#">玩具</a></li>
							<li class="testActive"><a href="#">藝術</a></li>
							<li class="testActive"><a href="#">經典</a></li>
						</ul>
					</div>
				</div>
				<nav class="nav-menu mobile-menu">
					<ul>
						<li><a href="index">首 頁</a></li>
						<li><a href="shopPage">商 城</a></li>
						<li><a href="blog">部落格</a></li>
						<li><a href="Activity">活 動</a></li>
						<li><a href="faq">問與答</a></li>

					</ul>
				</nav>
				<div id="mobile-menu-wrap"></div>
			</div>
		</div>
	</header>
	<!-- Header End -->

	<!-- Breadcrumb Section Begin -->
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<a href="#"><i class="fa fa-home"></i> Home</a> <span>Login</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Form Section Begin -->

	<!-- Register Section Begin -->
	<div class="register-login-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="login-form">
						<h2>Login</h2>
						<form method="post" action="perform_login">
							<h2><span th:unless="${param.error == null}" th:text="登入失敗，請檢查帳號或密碼是否輸入錯誤"></span></h2>
							<span th:unless="${param.logout == null}" th:text="你已經登出">你已經登出</span>
							

							<div class="group-input">
								<label for="email">Email *</label> 
								<input type="text" name="email" id="email" required autofocus />
							</div>
							<div class="group-input">
								<label for="pass">Password *</label> 
								<input type="password" name="password" id="pass" required />
							</div>

							<!-- <input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" /> -->
							<button type="submit" class="site-btn login-btn">登入</button>
						</form>
						<div class="switch-login">
							<a href="forgot_password" class="or-login">Forget Password</a>
						</div>
						<div class="switch-login">
							<a href="registerNow" class="or-login">Or Create An
								Account</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Register Form Section End -->

	<!-- Partner Logo Section Begin -->
	<div class="partner-logo">
		<div class="container">
			<div class="logo-carousel owl-carousel">
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-1.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-2.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-3.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-4.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-5.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Partner Logo Section End -->

<!-- Footer Section Begin -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="footer-left">
						<div class="footer-logo">
							<a href="#"><img src="img/footer-logo.png" alt=""></a>
						</div>
						<ul>
							<li>地址: 80147高雄市前金區中正四路211號8號樓之1</li>
							<li>電話: 07 969 9885</li>
							<li>電子信箱: vintage@gmail.com</li>
						</ul>
						<div class="footer-social">
							<a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
							<a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
							<a href="https://twitter.com"><i class="fa fa-twitter"></i></a> <a
								href="https://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1">
					<div class="footer-widget">
						<h5>資訊</h5>
						<ul>
							<li><a href="#">關於我們</a></li>
							<li><a href="#">首頁</a></li>
							<!-- 							<li><a href="#">Contact</a></li> -->
							<li><a href="#">Q&A</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="footer-widget">
						<h5>我的帳戶</h5>
						<ul>
							<li><a href="#">個人帳戶</a></li>
							<!-- 							<li><a href="#">Contact</a></li> -->
							<li><a href="#">購物車</a></li>
							<li><a href="#">商城</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="newslatter-item">
						<h5>現在就加入我們的電子報！</h5>
						<p>獲取最新最即時的商品資訊</p>
						<form action="#" class="subscribe-form">
							<input type="text" placeholder="輸入您的電子信箱">
							<button type="button">訂閱</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-reserved">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="copyright-text">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</div>
						<div class="payment-pic">
							<img src="img/payment-method.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->


	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/jquery.countdown.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	<script src="js/jquery.dd.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>