<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Fashi Template">
<meta name="keywords" content="Fashi, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Fashi | Product</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/themify-icons.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">

<!-- 聊天室的css跟js跟cdn -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" />
<link rel="stylesheet" href="css/chat-style.css" />

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
	integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
	crossorigin="anonymous"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"
	integrity="sha512-5yJ548VSnLflcRxWNqVWYeQZnby8D8fJTmYRLyvs445j1XmzR8cnWi85lcHx3CUEeAX+GrK3TqTfzOO6LKDpdw=="
	crossorigin="anonymous"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
	integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
	crossorigin="anonymous"></script>
<!-- 聊天室的css跟js跟cdn -->

<script src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    	$(function(){
    		var userEmail = $("#userPageControl").html();
    		var cUrl = "panUserControlPage?email=";
    		$("#userPageControl").click(function(){
    			$(this).attr("href",cUrl+userEmail);
    		});
    		var mUrl = "panAllPageMainLink?pMain=";
    		$(".testActive a").click(function(){
    			var allPageMainValue = $(this).html();
    			$(this).attr("href",mUrl+allPageMainValue);
    		});

    		$("#textSelectFormSearch").click(function(){
    			fUrl = "panAllPageFormLink?pName=";
    			var allPageFormValue = $("#textSelectFormInput").val();
    			if(allPageFormValue == ""){}
    			else{
    				window.location.href=fUrl+allPageFormValue;
    			}
    		});
            var productId = parseInt($("#secretProductId").html());
            var productData = {"pId":productId};
            $.ajax({
                async:true,
                url:"panProductDetailSelect",
                type:"POST",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(productData),
                success:function(response){
                    console.log(response);
                    $.each(response,function(i,v){
                        $("#productImg").append(
                            `<div class="product-pic-zoom">
                                <img class="product-big-img" src="img/products/${v.cPhoto}" alt="">
                                <div class="zoom-icon">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </div>
                            <div class="product-thumbs">
                            </div>`
                        );
                        $("#productDetails").prepend(
                            `<div class="product-details">
                                <div class="pd-title">
                                    <span><a href="panUserPage?email=${v.email}">${v.userName}</a></span>
                                    <h3>${v.pName}</h3>
                                    <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                                </div>
                                <div class="pd-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <span>(5)</span>
                                </div>
                                <div class="pd-desc">
                                    <p>${v.description}</p>
                                    <h4>$${v.price}</h4>
                                </div>
                                <div class="pd-size-choose">
                                    <div class="sc-item">
                                        <input type="radio" id="sm-size">
                                        <label for="sm-size">${v.pSize}</label>
                                    </div>
                                </div>
                            </div>`
                        );
                        $("#productDetails").append(
                            `<div class="product-details">
                                <ul class="pd-tags">
                                    <li><span>CATEGORIES</span>: ${v.pMain}</li>
                                    <li><span>TAGS</span>: ${v.pMain},${v.pDetail}</li>
                                </ul>
                            </div>`
                        );
                        $(".product-content").append(
                            `<div class="row">
                                <div class="col-lg-7">
                                    <h5>Introduction</h5>
                                    <p>${v.description}</p>
                                    <h5>Features</h5>
                                    <p>${v.sDescription}</p>
                                </div>
                                <div class="col-lg-5">
                                    <img src="img/product-single/tab-desc.jpg" alt="">
                                </div>
                            </div>`
                        );
                        $(".specification-table").append(
                            `<table>
                                <tr>
                                    <td class="p-catagory">Customer Rating</td>
                                    <td>
                                        <div class="pd-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <span>(5)</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-catagory">Price</td>
                                    <td>
                                        <div class="p-price">$${v.price}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-catagory">Add To Cart</td>
                                    <td>
                                        <div class="cart-add">+ add to cart</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-catagory">Availability</td>
                                    <td>
                                        <div class="p-stock">${v.invantory} in stock</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-catagory">Size</td>
                                    <td>
                                        <div class="p-size">${v.pSize}</div>
                                    </td>
                                </tr>
                            </table>`
                        );
                        $("#secretProductName").html(`${v.pName}`);
                        $("#secretPrice").html(`${v.price}`);
                        $("#secretPhoto").html(`${v.cPhoto}`);
                    });
                },
                error:function(msg){
                    alert("ajax異常:"+msg);
                }
            });
            
// ---------------------- 以下留言功能 ---------------------------
            //顯示評價星數至留言顯示區
            function show_star_icon(star_lv_sel) {
              var star_lv_icon = "";
              switch (star_lv_sel) {
                case 1:
                  var star_lv_icon = `<i class='fa fa-star'></i>
                                          <i class='fa fa-star-o'></i>
                                          <i class='fa fa-star-o'></i>
                                          <i class='fa fa-star-o'></i>
                                          <i class='fa fa-star-o'></i>`;
                  break;
                case 2:
                  var star_lv_icon = `<i class='fa fa-star'></i>
                                          <i class='fa fa-star'></i>
                                          <i class='fa fa-star-o'></i>
                                          <i class='fa fa-star-o'></i>
                                          <i class='fa fa-star-o'></i>`;
                  break;
                case 3:
                  var star_lv_icon = `<i class='fa fa-star'></i>
                                          <i class='fa fa-star'></i>
                                          <i class='fa fa-star'></i>
                                          <i class='fa fa-star-o'></i>
                                          <i class='fa fa-star-o'></i>`;
                  break;
                case 4:
                  var star_lv_icon = `<i class='fa fa-star'></i>
                                          <i class='fa fa-star'></i>
                                          <i class='fa fa-star'></i>
                                          <i class='fa fa-star'></i>
                                          <i class='fa fa-star-o'></i>`;
                  break;
                case 5:
                  var star_lv_icon = `<i class='fa fa-star'></i>
                                          <i class='fa fa-star'></i>
                                          <i class='fa fa-star'></i>
                                          <i class='fa fa-star'></i>
                                          <i class='fa fa-star'></i>`;
                  break;
              }
              return star_lv_icon;
            }

//------------------------頁面載入時show該商品的所有留言----------------------------------------

//             var product_id = 12345; //取得商品的ID值
//             var product_id_data = { pId: product_id }; //存成JSON物件
            $.ajax({
              url: "http://localhost:8080/Vintage/api/leaveMsg/showLeaveMsg",
              method: "POST",
              dataType: "json",
              contentType: "application/json; charset=UTF-8",
              data: JSON.stringify(productData),
              success: function (respones) {
                //把respones的巢狀JSON物件存成array
                var responesList = [respones];
                console.log(responesList);
                //雙層foreach出來
                $.each(responesList, function(index, item){
                	
                	console.log(item.leaveMsgList);
                	console.log("長度"+item.leaveMsgList.length);
                	var allStarLv =0;
                	
                  $.each(item.leaveMsgList,function(i,v){
                	                 	  
                	  allStarLv += v.starLv ;
                	  
                    $("#show_leave_mag").append(
                      `<div class="co-item">
                          <div class="avatar-pic">
                            <img src="img/product-single/${v.userPic}" alt="">
                              </div>
                                <div class="avatar-text">
                                   <div class="at-rating">
                                      ${show_star_icon(v.starLv)}
                                    </div>
                                      <h5>${v.userName}<span>${v.leaveMsgTime}</span></h5>
                                <div class="at-reply">${v.leaveMsgContent}</div>
                            </div>                                      
                        </div>`)
                  });
                  
                  var avgStarLv = allStarLv / item.leaveMsgList.length ;
                  var mathavgStarLv = Math.round(avgStarLv);
                  console.log("平均星數"+mathavgStarLv);
                  
                  $("#avgStarLv").append(`${show_star_icon(mathavgStarLv)} </br>`);
                  $("#msgNums").append(`( ${item.leaveMsgList.length} )`);
                          
                  
                });         
              },
              error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
              },
            });
   
            /*
            ---------------------------------------------------------
            ShoppingCart
            */
            // 註冊方法搜尋此使用者購物車裏的商品數量
            var loginUser = $("#loginInfo").html();
            var userData = {"email":loginUser};
            function update(){
            	$("#shoppingQuantity").html("");
                $.ajax({
                    url:"panfindShoppingProductQuantity",
                    type:"POST",
                    dataType:"json",
                    contentType:"application/json;charset=utf-8",
                    data:JSON.stringify(userData),
                    success:function(response){
                        $("#shoppingQuantity").html(response);
                    },
                    error:function(msg){
                        console.log(msg);
                    }
                });
            };
            
            function updatePrice(){
            	$("#selectTotal").html("");
                $.ajax({
                    url:"panSelectShoppingCartPrice",
                    type:"POST",
                    dataType:"json",
                    contentType:"application/json;charset=utf-8",
                    data:JSON.stringify(userData),
                    success:function(result){
                        $("#selectTotal").html(result);
                    },
                    error:function(msg){
                        concole.log(msg);
                    }
                });
            };
            
            function updateShoppingCart(){
            	$("#shoppingList").html("");
                $.ajax({
                    url:"panSelectShoppingCart",
                    type:"POST",
                    dataType:"json",
                    contentType:"application/json;charset=utf-8",
                    data:JSON.stringify(userData),
                    success:function(response){
                        $.each(response,function(i,v){
                            $("#shoppingList").append(
                                `<tr>
                                    <td style="display: none;">${v.cartId}</td>													
	                                <td class="si-pic"><img src="img/products/${v.cPhoto}"											
                                        alt=""></td>												
	                                <td class="si-text">												
	                                	<div class="product-selected">														
                                            <p>$${v.price} x ${v.amount}</p>														
                                            <h6>${v.pName}</h6>									
	                                	</div>										
	                                </td>											
	                                <td class="si-close"><a href="#">X</a></td>									
                                </tr>`
                            );
                        }); 
                    },
                    error:function(msg){
                        concole.log(msg);
                    }
                });
            };
            // 頁面載入時尋此使用者購物車裏的商品數量
            update();
			updateShoppingCart();
			updatePrice();
            // 點選數量加入購物車
            $("#shoppingCart").click(function(e){
                e.preventDefault();
                var productId = $("#secretProductId").html();
                var productName = $("#secretProductName").html();
                var productPrice = $("#secretPrice").html();
                var amount = $("#amount").val();
                var productPhoto = $("#secretPhoto").html();
                var shoppingData = {"email":loginUser,"pId":productId,"pName":productName,"price":productPrice,"amount":amount,"cPhoto":productPhoto};
                $.ajax({
                    url:"addshoppingCart",
                    type:"POST",
                    dataType:"json",
                    contentType:"application/json;charset=utf-8",
                    data:JSON.stringify(shoppingData),
                    success:function(resultMsg){
                        var jsonMsg = $.parseJSON(resultMsg);
                        alert(jsonMsg);
                    },
                    error:function(msg){
                        console.log(msg);
                    }
                });
                update();
                updateShoppingCart();
                updatePrice();
            });

            
            // 刪除購物車裡的物品
            $("#shoppingList tr .si-close").on("click","a",function(e){
            	e.preventDefault();
                $(this).closest("tr").remove();
                var cartId = $("td").first().html();
                var cartData = {"cartId":cartId};
                $.ajax({
                    url:"panDeleteShoppingProduct",
                    type:"POST",
                    dataType:"json",
                    contentType:"application/json;charset=utf-8",
                    data:JSON.stringify(cartData),
                    success:function(result){
                        var jsonMsg = $.parseJSON(result);
                        alert(jsonMsg);
                    },
                    error:function(msg){
                        console.log(msg);
                    }
                });
                update();
                updateShoppingCart();
                updatePrice();
            });
    	});
    
//////////////////////聊天室的JS        //////////////////////////////
    	var stompClient = null;

    		//載入完瀏覽器後  呼叫connect（），開啟雙通道
    		$(function() {
    			connect();
    			
    		});

    		//強制關閉瀏覽器  呼叫websocket.close（）,進行正常關閉
    		window.onunload = function() {
    			disconnect();
    		};

    		//開啟雙通道
    		function connect() {
    			var socket = new SockJS(
    					"http://localhost:8080/Vintage/endpointOyzc"); //連線SockJS的endpoint名稱為"endpointOyzc"
    			stompClient = Stomp.over(socket); //使用STMOP子協議的WebSocket客戶端
    			stompClient.connect({}, function(frame) {
    				//連線WebSocket服務端
    				console.log("Connected:" + frame);
    			});
    		}

    		//關閉雙通道
    		function disconnect() {
    			if (stompClient != null) {
    				stompClient.disconnect();
    			}
    			console.log("Disconnected");
    		}

//     		//選擇傳送給誰的時候觸發連線伺服器
    		function sendAloneUser() {
    			stompQueue();
    		}
    		
    		//列隊（一對一）

    		function stompQueue() {
    			var userId = $("#loginInfo").html();//抓userName (登入者名稱)
    			alert("監聽:" + userId);
    			//通過stompClient.subscribe訂閱/topic/getResponse 目標(destination)傳送的訊息（佇列接收資訊）		
    			stompClient.subscribe("/user/" + userId + "/alone/getResponse",
    							function(response) {
    								var message = JSON.parse(response.body);
    								$("#chat-area")
    										.append(
    												`<div class="income-msg"><img src="img/puipui02.png" class="avatar" alt="" /><span class="msg">${message.chatValue}</span></div>`);
    							});
    		}

    		//單獨發
    		function sendAloneMessage() {		
    			var postValue = {}; //陣列存放訊息
    			var chatValue = $("#input-area"); //聊天輸入框的值

    			var userName = $("#loginInfo").html();		//抓登入者(發送者)

    			var sendToId = sendToFakeUser();		//抓接收者(沒辦法先寫死吧) abi跟lin 去DEMO
    			
    			var response = $("#chat-area"); //訊息顯示框
    			var userPic = $("#user-pic"); //使用者頭像
    			postValue.name = userName;
    			postValue.chatValue = chatValue.val();
    			postValue.userId = sendToId; //JSON物件 postValue = {發送者,訊息,接收者}
    			if (userName == 1 || userName == null) {
    				alert("請選擇你是誰！");
    				return;
    			}
    			if (sendToId == 1 || sendToId == null) {
    				alert("請選擇你要發給誰！");
    				return;
    			}
    			if (chatValue == "" || chatValue == null) {
    				alert("不能傳送空訊息！");
    				return;
    			}
    			stompClient.send("/aloneRequest", {}, JSON.stringify(postValue));
    			response
    					.append(`<div class="out-msg"><span class="my-msg">${postValue.chatValue}</span><img src="img/puipui01.png" class="avatar"></div>`);

    			chatValue.val("");
    		}
    		
    		//賣家頁面一個 [聊天] 按鈕 -> 跳出對話框

    		$(function() {
    			$("#sendToWho").click(function() {
    				$(".chat-popup").addClass("show");
    				stompQueue();
    			});
    		});
    		
    		//假的發話對象
    	
    		
    		function sendToFakeUser(){
    			var getLoginUser = $("#loginInfo").html();
    			var fakeUser="";
    			if(getLoginUser == "abi@gmail.com"){
    				fakeUser = "lin@gmail.com"
    			}
    			if(getLoginUser == "lin@gmail.com"){
    				fakeUser ="abi@gmail.com"
    			}
    			return fakeUser;
    		}
    	        
    		// //////////////////////        聊天室的JS        //////////////////////////////
    	        
    </script>
</head>

<body>
	<span th:text="${user}" style="display: none;" id="loginInfo"></span>

	<span id="secretProductId" th:text="${secretProductId}"
		style="display: none;"></span>
	<span id="secretProductName" style="display: none;"></span>
	<span id="secretPrice" style="display: none;"></span>
	<span id="secretPhoto" style="display: none;"></span>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="ht-left"></div>
				<div class="ht-right">
					<a href="logout" class="login-panel" th:text="Logout"><i
						class="fa fa-user"></i></a> <a href="loginPage" class="login-panel"
						th:text="Login"><i class="fa fa-user"></i></a>


					<div class="top-social">
						<div class="mail-service">
							<a class=" fa fa-envelope" id="userPageControl" href="#"
								th:text="${user}"></a>
							<!-- 進入使用者個人資料的頁面(賣家頁面) -->

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="inner-header">
				<div class="row">
					<div class="col-lg-2 col-md-2">
						<div class="logo ml-5">
							<a href="index"> <img src="img/VintageLogo8888.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 mt-4">
						<div class="advanced-search">
							<button type="button" class="category-btn">關 鍵 字 搜 尋</button>
							<div class="input-group">
								<input type="text" id="textSelectFormInput"
									placeholder="您在搜尋什麼商品嗎?">
								<button type="button" class="ml-5" id="textSelectFormSearch">
									<i class="ti-search"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="col-lg-3 text-right col-md-3">

						<ul class="nav-right">

							<li class="cart-icon"><a href="#"> <i
									class="icon_bag_alt"></i> <span id="shoppingQuantity"> <!-- shoppingQuantity Here -->
								</span>
							</a>
								<div class="cart-hover">
									<div class="select-items"
										style="height: 210px; overflow: auto;">
										<table>
											<tbody id="shoppingList">
												<!-- ShoppingList Here -->
											</tbody>
										</table>
									</div>
									<div class="select-total">
										<span>總共:</span>
										<h5 id="selectTotal">
											<!-- selectTotal Here -->
										</h5>
									</div>
									<div class="select-button">
										<a href="shoppingCart" class="primary-btn view-card">加入購物車</a>
										<a href="checkOut" class="primary-btn checkout-btn">前往結帳</a>
									</div>
								</div></li>
							<li class="cart-price"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-item">
			<div class="container">
				<div class="nav-depart">
					<div class="depart-btn">
						<i class="ti-menu"></i> <span>所有選項</span>
						<ul class="depart-hover">
							<li class="testActive"><a href="#">飾品</a></li>
							<li class="testActive"><a href="#">服飾</a></li>
							<li class="testActive"><a href="#">生活</a></li>
							<li class="testActive"><a href="#">玩具</a></li>
							<li class="testActive"><a href="#">藝術</a></li>
							<li class="testActive"><a href="#">經典</a></li>
						</ul>
					</div>
				</div>
				<nav class="nav-menu mobile-menu">
					<ul>
						<li><a href="index">首 頁</a></li>
						<li class="active"><a href="shopPage">商 城</a></li>
						<li><a href="blog">部落格</a></li>
						<li><a href="Activity">活 動</a></li>
						<li><a href="faq">問與答</a></li>

					</ul>
				</nav>
				<div id="mobile-menu-wrap"></div>
			</div>
		</div>
	</header>
	<!-- Header End -->

	<!-- Breadcrumb Section Begin -->
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text product-more">
						<a href="liaoIndex"><i class="fa fa-home"></i> Home</a> <a
							href="liaoShop">Shop</a> <span>Detail</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Section Begin -->

	<!-- Product Shop Section Begin -->
	<section class="product-shop spad page-details">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="filter-widget">
						<h4 class="fw-title">Categories</h4>
						<ul class="filter-catagories">
							<li><a href="#">Men</a></li>
							<li><a href="#">Women</a></li>
							<li><a href="#">Kids</a></li>
						</ul>
					</div>
					<div class="filter-widget">
						<h4 class="fw-title">Brand</h4>
						<div class="fw-brand-check">
							<div class="bc-item">
								<label for="bc-calvin"> Calvin Klein <input
									type="checkbox" id="bc-calvin"> <span class="checkmark"></span>
								</label>
							</div>
							<div class="bc-item">
								<label for="bc-diesel"> Diesel <input type="checkbox"
									id="bc-diesel"> <span class="checkmark"></span>
								</label>
							</div>
							<div class="bc-item">
								<label for="bc-polo"> Polo <input type="checkbox"
									id="bc-polo"> <span class="checkmark"></span>
								</label>
							</div>
							<div class="bc-item">
								<label for="bc-tommy"> Tommy Hilfiger <input
									type="checkbox" id="bc-tommy"> <span class="checkmark"></span>
								</label>
							</div>
						</div>
					</div>
					<div class="filter-widget">
						<h4 class="fw-title">Price</h4>
						<div class="filter-range-wrap">
							<div class="range-slider">
								<div class="price-input">
									<input type="text" id="minamount"> <input type="text"
										id="maxamount">
								</div>
							</div>
							<div
								class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
								data-min="33" data-max="98">
								<div class="ui-slider-range ui-corner-all ui-widget-header"></div>
								<span tabindex="0"
									class="ui-slider-handle ui-corner-all ui-state-default"></span>
								<span tabindex="0"
									class="ui-slider-handle ui-corner-all ui-state-default"></span>
							</div>
						</div>
						<a href="#" class="filter-btn">Filter</a>
					</div>
					<div class="filter-widget">
						<h4 class="fw-title">Color</h4>
						<div class="fw-color-choose">
							<div class="cs-item">
								<input type="radio" id="cs-black"> <label
									class="cs-black" for="cs-black">Black</label>
							</div>
							<div class="cs-item">
								<input type="radio" id="cs-violet"> <label
									class="cs-violet" for="cs-violet">Violet</label>
							</div>
							<div class="cs-item">
								<input type="radio" id="cs-blue"> <label class="cs-blue"
									for="cs-blue">Blue</label>
							</div>
							<div class="cs-item">
								<input type="radio" id="cs-yellow"> <label
									class="cs-yellow" for="cs-yellow">Yellow</label>
							</div>
							<div class="cs-item">
								<input type="radio" id="cs-red"> <label class="cs-red"
									for="cs-red">Red</label>
							</div>
							<div class="cs-item">
								<input type="radio" id="cs-green"> <label
									class="cs-green" for="cs-green">Green</label>
							</div>
						</div>
					</div>
					<div class="filter-widget">
						<h4 class="fw-title">Size</h4>
						<div class="fw-size-choose">
							<div class="sc-item">
								<input type="radio" id="s-size"> <label for="s-size">s</label>
							</div>
							<div class="sc-item">
								<input type="radio" id="m-size"> <label for="m-size">m</label>
							</div>
							<div class="sc-item">
								<input type="radio" id="l-size"> <label for="l-size">l</label>
							</div>
							<div class="sc-item">
								<input type="radio" id="xs-size"> <label for="xs-size">xs</label>
							</div>
						</div>
					</div>
					<div class="filter-widget">
						<h4 class="fw-title">Tags</h4>
						<div class="fw-tags">
							<a href="#">Towel</a> <a href="#">Shoes</a> <a href="#">Coat</a>
							<a href="#">Dresses</a> <a href="#">Trousers</a> <a href="#">Men's
								hats</a> <a href="#">Backpack</a>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-6" id="productImg">
							<!-- productImg Here -->
						</div>
						<div class="col-lg-6" id="productDetails">
							<!-- product-details Here -->
							<div class="product-details">
								<div class="quantity">
									<div class="pro-qty">
										<input type="text" id="amount" value="1">
									</div>
									<a href="#" class="primary-btn pd-cart" id="shoppingCart">Add
										To Cart</a>
								</div>
							</div>
							<!-- product-details Here -->
						</div>
					</div>
					<div class="product-tab">
						<div class="tab-item">
							<ul class="nav" role="tablist">
								<li><a class="active" data-toggle="tab" href="#tab-1"
									role="tab">DESCRIPTION</a></li>
								<li><a data-toggle="tab" href="#tab-2" role="tab">SPECIFICATIONS</a>
								</li>
								<li><a data-toggle="tab" href="#tab-3" role="tab">Customer
										Reviews<span id="msgNums"></span>
								</a></li>
							</ul>
						</div>
						<div class="tab-item-content">
							<div class="tab-content">
								<div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
									<div class="product-content">
										<!-- product-content Here -->
									</div>
								</div>
								<div class="tab-pane fade" id="tab-2" role="tabpanel">
									<div class="specification-table">
										<!-- Product-specification Here-->
									</div>
								</div>
								<div class="tab-pane fade" id="tab-3" role="tabpanel">
									<div class="customer-review-option">

										<div class="at-rating mb-3" id="avgStarLv"></div>

										<button type="button" class="btn btn-outline-warning mb-3"
											id="sendToWho">與賣家聊天</button>

										<h4>評論</h4>
										<div class="comment-option">
											<!-- 											<div class="co-item"> -->
											<!-- 												<div class="avatar-pic"> -->
											<!-- 													<img src="img/product-single/avatar-1.png" alt=""> -->
											<!-- 												</div> -->
											<!-- 												<div class="avatar-text"> -->
											<!-- 													<div class="at-rating"> -->
											<!-- 														<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i -->
											<!-- 															class="fa fa-star"></i> <i class="fa fa-star"></i> <i -->
											<!-- 															class="fa fa-star-o"></i> -->
											<!-- 													</div> -->
											<!-- 													<h5> -->
											<!-- 														Brandon Kelley <span>27-09-2019</span> -->
											<!-- 													</h5> -->
											<!-- 													<div class="at-reply">Nice !</div> -->
											<!-- 												</div> -->
											<!-- 											</div> -->
											<!-- 											<div class="co-item"> -->
											<!-- 												<div class="avatar-pic"> -->
											<!-- 													<img src="img/product-single/avatar-2.png" alt=""> -->
											<!-- 												</div> -->
											<!-- 												<div class="avatar-text"> -->
											<!-- 													<div class="at-rating"> -->
											<!-- 														<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i -->
											<!-- 															class="fa fa-star"></i> <i class="fa fa-star"></i> <i -->
											<!-- 															class="fa fa-star-o"></i> -->
											<!-- 													</div> -->
											<!-- 													<h5> -->
											<!-- 														Roy Banks <span>27-12-2019</span> -->
											<!-- 													</h5> -->
											<!-- 													<div class="at-reply">Nice !</div> -->
											<!-- 												</div> -->
											<!-- 											</div> -->

											<!-- 留言顯示div-->
											<div id="show_leave_mag"></div>
										</div>
										<div class="personal-rating">
											<h6>選擇顆星</h6>
											<div class="rating h3" id="starLv">
												<i class="fa fa-star" id="star1"></i> <i class="fa fa-star"
													id="star2"></i> <i class="fa fa-star" id="star3"></i> <i
													class="fa fa-star-o" id="star4"></i> <i
													class="fa fa-star-o" id="star5"></i>
											</div>
										</div>

										<div class="leave-comment">
											<h4>留下商品評價</h4>
											<div class="comment-form">
												<div class="row">
													<div class="col-lg-6">
														<input type="text" placeholder="暱稱" id="leave_name" />
													</div>
													<div class="col-lg-6"></div>
													<div class="col-lg-12">
														<textarea placeholder="留言內容" id="leave_content"></textarea>
														<button type="button" class="site-btn" id="send_msg">
															留言</button>
													</div>
												</div>
											</div>
										</div>

										<script>
                        //改變星數並付值
                        
                        $("#star1")
                          .click(function () {
                            $("#star1").attr("class", "fa fa-star ");
                            $("#star2").attr("class", "fa fa-star-o");
                            $("#star3").attr("class", "fa fa-star-o");
                            $("#star4").attr("class", "fa fa-star-o");
                            $("#star5").attr("class", "fa fa-star-o");
                          })
                          .val(1);

                        $("#star2")
                          .click(function () {
                            $("#star1").attr("class", "fa fa-star");
                            $("#star2").attr("class", "fa fa-star");
                            $("#star3").attr("class", "fa fa-star-o");
                            $("#star4").attr("class", "fa fa-star-o");
                            $("#star5").attr("class", "fa fa-star-o");
                          })
                          .val(2);

                        $("#star3")
                          .click(function () {
                            $("#star1").attr("class", "fa fa-star");
                            $("#star2").attr("class", "fa fa-star");
                            $("#star3").attr("class", "fa fa-star");
                            $("#star4").attr("class", "fa fa-star-o");
                            $("#star5").attr("class", "fa fa-star-o");
                          })
                          .val(3);

                        $("#star4")
                          .click(function () {
                            $("#star1").attr("class", "fa fa-star");
                            $("#star2").attr("class", "fa fa-star");
                            $("#star3").attr("class", "fa fa-star");
                            $("#star4").attr("class", "fa fa-star");
                            $("#star5").attr("class", "fa fa-star-o");
                          })
                          .val(4);

                        $("#star5")
                          .click(function () {
                            $("#star1").attr("class", "fa fa-star");
                            $("#star2").attr("class", "fa fa-star");
                            $("#star3").attr("class", "fa fa-star");
                            $("#star4").attr("class", "fa fa-star");
                            $("#star5").attr("class", "fa fa-star");
                          })
                          .val(5);

                        //顯示星數的方法
                        function show_star_icon(star_lv_sel) {
                          var star_lv_icon = "";
                          switch (star_lv_sel) {
                            case 1:
                              var star_lv_icon = `<i class='fa fa-star'></i>
                                      <i class='fa fa-star-o'></i>
                                      <i class='fa fa-star-o'></i>
                                      <i class='fa fa-star-o'></i>
                                      <i class='fa fa-star-o'></i>`;
                              break;
                            case 2:
                              var star_lv_icon = `<i class='fa fa-star'></i>
                                      <i class='fa fa-star'></i>
                                      <i class='fa fa-star-o'></i>
                                      <i class='fa fa-star-o'></i>
                                      <i class='fa fa-star-o'></i>`;
                              break;
                            case 3:
                              var star_lv_icon = `<i class='fa fa-star'></i>
                                      <i class='fa fa-star'></i>
                                      <i class='fa fa-star'></i>
                                      <i class='fa fa-star-o'></i>
                                      <i class='fa fa-star-o'></i>`;
                              break;
                            case 4:
                              var star_lv_icon = `<i class='fa fa-star'></i>
                                      <i class='fa fa-star'></i>
                                      <i class='fa fa-star'></i>
                                      <i class='fa fa-star'></i>
                                      <i class='fa fa-star-o'></i>`;
                              break;
                            case 5:
                              var star_lv_icon = `<i class='fa fa-star'></i>
                                      <i class='fa fa-star'></i>
                                      <i class='fa fa-star'></i>
                                      <i class='fa fa-star'></i>
                                      <i class='fa fa-star'></i>`;
                              break;
                          }
                          return star_lv_icon;
                        }

                        //判斷點選星數並傳入對應的值並回傳 star_lv_ele
                        var star_lv_ele = "";
                        $("#star1, #star2, #star3, #star4, #star5").click(
                          function () {
                            if (this.id == "star1") {
                              star_lv_ele = "#star1";
                            }
                            if (this.id == "star2") {
                              star_lv_ele = "#star2";
                            }
                            if (this.id == "star3") {
                              star_lv_ele = "#star3";
                            }
                            if (this.id == "star4") {
                              star_lv_ele = "#star4";
                            }
                            if (this.id == "star5") {
                              star_lv_ele = "#star5";
                            }
                            return star_lv_ele;
                          }
                        );

                        //傳送留言資料到後端
                         var productId = parseInt($("#secretProductId").html());
                        $("#send_msg").click(function () {
                          var leave_name = $("#leave_name").val();    //自行輸入
                          var leave_content = $("#leave_content").val();
                          var star_lv_sel = $(star_lv_ele).val();
                          var product_id = productId;     //從商品載入取值
                          var user_pic = "puipui01.png";    //我需要使用者的大頭貼LAAAAAAAAAAA
                          var user_email = $("#loginInfo").html();
                          var send_leave_msg = {
                        		  email:user_email,
                        		  userName: leave_name,
                        		  leaveMsgContent: leave_content,
                           		starLv: star_lv_sel,
                           		 pId: product_id,
                          		 userPic: user_pic,
                          };
                          if(star_lv_sel == null || star_lv_sel == ""){
                        	  alert("請選擇給予星數!");
                        	  return ;
                          }
                          if(leave_content == null  || leave_content == ""){
                        	  alert("請輸入評價留言!");
                        	  return ;
                          }
                          if(leave_name == null  || leave_name == ""){
                        	  alert("請輸入留言暱稱!");
                        	  return ;
                          }
                          
                          $.ajax({
                            url:
                              "http://localhost:8080/Vintage/api/leaveMsg/msgAdd",
                            method: "POST",
                            dataType: "json",
                            contentType: "application/json; charset=UTF-8",
                            data: JSON.stringify(send_leave_msg),
                            success: function (data) {
                              console.log(data);
                              $("#show_leave_mag").append(` <div class="co-item">
                              <div class="avatar-pic">
                                  <img src="img/userPic/${data.userPic}" alt="">
                              </div>
                              <div class="avatar-text">
                                  <div class="at-rating">
                                      ${show_star_icon(data.starLv)}
                                  </div>
                                  <h5>${data.userName }<span>${
                                data.leaveMsgTime
                              }</span></h5>
                                  <div class="at-reply">${
                                    data.leaveMsgContent
                                  }</div>
                              </div>                                      
                          </div>`);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                              console.log(textStatus);
                            },
                          });
                          //留言完初始化
                          $("#leave_name").val("");
                          $("#leave_content").val("");
                   
                        });
                      </script>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Product Shop Section End -->

	<!-- Related Products Section End -->
	<div class="related-products spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Related Products</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="img/products/women-1.jpg" alt="">
							<div class="sale">Sale</div>
							<div class="icon">
								<i class="icon_heart_alt"></i>
							</div>
							<ul>
								<li class="w-icon active"><a href="#"><i
										class="icon_bag_alt"></i></a></li>
								<li class="quick-view"><a href="#">+ Quick View</a></li>
								<li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
							</ul>
						</div>
						<div class="pi-text">
							<div class="catagory-name">Coat</div>
							<a href="#">
								<h5>Pure Pineapple</h5>
							</a>
							<div class="product-price">
								$14.00 <span>$35.00</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="img/products/women-2.jpg" alt="">
							<div class="icon">
								<i class="icon_heart_alt"></i>
							</div>
							<ul>
								<li class="w-icon active"><a href="#"><i
										class="icon_bag_alt"></i></a></li>
								<li class="quick-view"><a href="#">+ Quick View</a></li>
								<li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
							</ul>
						</div>
						<div class="pi-text">
							<div class="catagory-name">Shoes</div>
							<a href="#">
								<h5>Guangzhou sweater</h5>
							</a>
							<div class="product-price">$13.00</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="img/products/women-3.jpg" alt="">
							<div class="icon">
								<i class="icon_heart_alt"></i>
							</div>
							<ul>
								<li class="w-icon active"><a href="#"><i
										class="icon_bag_alt"></i></a></li>
								<li class="quick-view"><a href="#">+ Quick View</a></li>
								<li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
							</ul>
						</div>
						<div class="pi-text">
							<div class="catagory-name">Towel</div>
							<a href="#">
								<h5>Pure Pineapple</h5>
							</a>
							<div class="product-price">$34.00</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="img/products/women-4.jpg" alt="">
							<div class="icon">
								<i class="icon_heart_alt"></i>
							</div>
							<ul>
								<li class="w-icon active"><a href="#"><i
										class="icon_bag_alt"></i></a></li>
								<li class="quick-view"><a href="#">+ Quick View</a></li>
								<li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
							</ul>
						</div>
						<div class="pi-text">
							<div class="catagory-name">Towel</div>
							<a href="#">
								<h5>Converse Shoes</h5>
							</a>
							<div class="product-price">$34.00</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Related Products Section End -->

	<!-- Partner Logo Section Begin -->
	<div class="partner-logo">
		<div class="container">
			<div class="logo-carousel owl-carousel">
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-1.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-2.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-3.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-4.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-5.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Partner Logo Section End -->

	<!-- Footer Section Begin -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="footer-left">
						<div class="footer-logo">
							<a href="#"><img src="img/footer-logo.png" alt=""></a>
						</div>
						<ul>
							<li>地址: 80147高雄市前金區中正四路211號8號樓之1</li>
							<li>電話: 07 969 9885</li>
							<li>電子信箱: vintage@gmail.com</li>
						</ul>
						<div class="footer-social">
							<a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
							<a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
							<a href="https://twitter.com"><i class="fa fa-twitter"></i></a> <a
								href="https://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1">
					<div class="footer-widget">
						<h5>資訊</h5>
						<ul>
							<li><a href="#">關於我們</a></li>
							<li><a href="#">首頁</a></li>
							<!-- 							<li><a href="#">Contact</a></li> -->
							<li><a href="#">Q&A</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="footer-widget">
						<h5>我的帳戶</h5>
						<ul>
							<li><a href="#">個人帳戶</a></li>
							<!-- 							<li><a href="#">Contact</a></li> -->
							<li><a href="#">購物車</a></li>
							<li><a href="#">商城</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="newslatter-item">
						<h5>現在就加入我們的電子報！</h5>
						<p>獲取最新最即時的商品資訊</p>
						<form action="#" class="subscribe-form">
							<input type="text" placeholder="輸入您的電子信箱">
							<button type="button">訂閱</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-reserved">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="copyright-text">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script>
							All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</div>
						<div class="payment-pic">
							<img src="img/payment-method.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--     聊天對話框div -->
		<section class="chat-section">
			<button class="chat-btn">
				<i class="material-icons"> comment </i>
			</button>

			<div class="chat-popup">
				<div class="badge">N</div>
				<div class="chat-area" id="chat-area">
					<div class="income-msg">
						<!-- 						<img src="img/person.jpg" class="avatar" alt="" /> <span -->
						<!-- 							class="msg"> Hi, How </span> -->
					</div>
				</div>

				<div class="input-area">
					<input type="text" id="input-area" class="chat-input" />
					<button id="emoji-btn">&#127773;</button>
					<button class="chat-submit" onclick="sendAloneMessage()">
						<i class="material-icons"> send</i>
					</button>
				</div>
			</div>
		</section>

		<!-- 聊天室的css跟js跟cdn -->
		<script
			src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.1.1/dist/index.min.js"></script>
		<script src="js/chat.js"></script>
		<!-- 聊天室的css跟js跟cdn -->

	</footer>
	<!-- Footer Section End -->

	<!-- Js Plugins -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/jquery.countdown.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	<script src="js/jquery.dd.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>