<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>


<head>
<meta charset="UTF-8">
<meta name="description" content="Fashi Template">
<meta name="keywords" content="Fashi, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Fashi | UserInfoDetail</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/themify-icons.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">


<script src="//cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(function(){
        	var userEmail = $("#loginInfo").html();
        	var cUrl = "panUserControlPage?email=";
    		$("#userPageControl").click(function(){
    			$(this).attr("href",cUrl+userEmail);
    		});
    		var mUrl = "panAllPageMainLink?pMain=";
    		$(".testActive a").click(function(){
    			var allPageMainValue = $(this).html();
    			$(this).attr("href",mUrl+allPageMainValue);
    		});

    		$("#textSelectFormSearch").click(function(){
    			fUrl = "panAllPageFormLink?pName=";
    			var allPageFormValue = $("#textSelectFormInput").val();
    			if(allPageFormValue == ""){}
    			else{
    				window.location.href=fUrl+allPageFormValue;
    			}
    		});
            var email = $("#loginInfo").html();
            var userData = {"email":email};
            $.ajax({
                url:"panfindUserArticle",
                type:"POST",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(userData),
                success:function(response){
                    $.each(response,function(i,v){
                        var essay = v.description;
                        if(essay == null || essay == ""){
                            $("#essay1").val('寫點什麼吧!!!');
                        }
                        else{
                            $("#essay1").val(essay);
                        }
                    });
                },
                error:function(msg){
                    console.log(msg);
                }
            });

            $.ajax({
                url:"panfindUserArticle",
                type:"POST",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(userData),
                success:function(response){
                    $.each(response,function(i,v){
                        var essay = v.articleContext;
                        if(essay == null || essay == ""){
                            $("#essay2").val('寫點什麼吧!!!');
                        }
                        else{
                            $("#essay2").val(essay);
                        }
                        
                    });
                },
                error:function(msg){
                    console.log(msg);
                }
            });

            $("#essay1Save").click(function(){
                var essayData = CKEDITOR.instances.essay1.getData();
                var articleData = {"email":email,"description":essayData};
                $.ajax({
                	url:"panInsertDescription",
                	type:"POST",
                	dataType:"json",
                	contentType:"application/json;charset=utf-8",
                    data:JSON.stringify(articleData),
                    success:function(result){
                        var sMsg = JSON.parse(result);
                        console.log(sMsg);
                    },
                    error:function(msg){
                        console.log(msg);
                    }
                });
            });

            $("#essay2Save").click(function(){
                var essayData = CKEDITOR.instances.essay2.getData();
                var articleData = {"email":email,"articleContext":essayData};
                $.ajax({
                	url:"panInsertArticle",
                	type:"POST",
                	dataType:"json",
                	contentType:"application/json;charset=utf-8",
                    data:JSON.stringify(articleData),
                    success:function(result){
                        var sMsg = JSON.parse(result);
                        alert(sMsg);
                    },
                    error:function(msg){
                        console.log(msg);
                    }
                });
            });

            $("#saveAndOut").click(function(){
            	alert("確定要儲存&離開嗎?");
                $("#essay1Save").trigger("click");
                $("#essay2Save").trigger("click");
                history.go(-1);
            });

        });
        
        $(document).ready(function () {
        	
        	$("#mainImage").change(function () {
        		showImageThumbnailMain(this);
        	});
        	
        	$("#fileImage").change(function () {
        		showImageThumbnail(this);
        	});
        	
        	$("input[name='extraImage']").each(function(index) {
            	$(this).change(function () {
            		showExtraImageThumbnail(this, index);
            	});	
            });
        })


        function showImageThumbnail(fileInput) {
        	file = fileInput.files[0];
        	reader =new FileReader();

        	reader.onload = function(e) {
        		$("#thumbnail").attr("src", e.target.result);
        	};

        	reader.readAsDataURL(file);
        }
        
        function showExtraImageThumbnail(fileInput, index) {
        	file = fileInput.files[0];
        	reader = new FileReader();
        	
        	reader.onload = function(e) {
        		$("#thumbnail" + index).attr('src', e.target.result);
        	};
        	
        	reader.readAsDataURL(file);
        }
        
        function showImageThumbnailMain(fileInput) {
        	file = fileInput.files[0];
        	reader =new FileReader();

        	reader.onload = function(e) {
        		$("#thumbnailMain").attr("src", e.target.result);
        	};

        	reader.readAsDataURL(file);
        }
        
        
        
    </script>

</head>



<body>
	<span th:text="${user}" style="display: none;" id="loginInfo"></span>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="ht-left"></div>
				<div class="ht-right">
					<a href="logout" class="login-panel" th:text="Logout"><i
						class="fa fa-user"></i></a> <a href="loginPage" class="login-panel"
						th:text="Login"><i class="fa fa-user"></i></a>


					<div class="top-social">
						<div class="mail-service">
							<a class=" fa fa-envelope" id="userPageControl" href="#"
								th:text="${user}"></a>
							<!-- 進入使用者個人資料的頁面(賣家頁面) -->

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="inner-header">
				<div class="row">
					<div class="col-lg-2 col-md-2">
						<div class="logo ml-5">
							<a href="index"> <img src="img/VintageLogo8888.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 mt-4">
						<div class="advanced-search">
							<button type="button" class="category-btn">關 鍵 字 搜 尋</button>
							<div class="input-group">
								<input type="text" id="textSelectFormInput"
									placeholder="您在搜尋什麼商品嗎?">
								<button type="button" class="ml-5" id="textSelectFormSearch">
									<i class="ti-search"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="col-lg-3 text-right col-md-3">
						
						<ul class="nav-right">

							<li class="cart-icon"><a href="#"> <i
									class="icon_bag_alt"></i> <span id="shoppingQuantity"> <!-- shoppingQuantity Here -->
								</span>
							</a>
								<div class="cart-hover">
									<div class="select-items"
										style="height: 210px; overflow: auto;">
										<table>
											<tbody id="shoppingList">
												<!-- ShoppingList Here -->
											</tbody>
										</table>
									</div>
									<div class="select-total">
										<span>總共:</span>
										<h5 id="selectTotal">
											<!-- selectTotal Here -->
										</h5>
									</div>
									<div class="select-button">
										<a href="shoppingCart" class="primary-btn view-card">加入購物車</a> <a
											href="checkOut" class="primary-btn checkout-btn">前往結帳</a>
									</div>
								</div></li>
							<li class="cart-price"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-item">
			<div class="container">
				<div class="nav-depart">
					<div class="depart-btn">
						<i class="ti-menu"></i> <span>所有選項</span>
						<ul class="depart-hover">
							<li class="testActive"><a href="#">飾品</a></li>
							<li class="testActive"><a href="#">服飾</a></li>
							<li class="testActive"><a href="#">生活</a></li>
							<li class="testActive"><a href="#">玩具</a></li>
							<li class="testActive"><a href="#">藝術</a></li>
							<li class="testActive"><a href="#">經典</a></li>
						</ul>
					</div>
				</div>
				<nav class="nav-menu mobile-menu">
					<ul>
						<li><a href="index">首 頁</a></li>
						<li><a href="shopPage">商 城</a></li>
						<li><a href="blog">部落格</a></li>
						<li><a href="Activity">活 動</a></li>
						<li><a href="faq">問與答</a></li>

					</ul>
				</nav>
				<div id="mobile-menu-wrap"></div>
			</div>
		</div>
	</header>
	<!-- Header End -->

	<!-- Breadcrumb Section Begin -->
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<a href="#"><i class="fa fa-home"></i> Home</a> <span>Register</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Form Section Begin -->

	<!-- Register Section Begin -->
	<div class="register-login-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="register-form">
						<h2>開啟賣家功能</h2>
						<h3 style="text-align: center">填寫詳細資料以成為賣家</h3>
						<form th:action="@{/userInfoUpdate}" id="registerForm" method="post" enctype="multipart/form-data">
							<div class="group-input">
								<label for="birthday">Birthday *</label> 
								<input type="date" name="userBirthday" id="userBirthday" required>
							</div>
							<div class="group-input">
								<label for="phone">Phone *</label> <input type="text"
									name="userPhone" id="userPhone" required length="10">
							</div>

							<div>
								<label for="gender">Gender</label>
								<div > 
								<input type="radio" name="gender" id="gender" value="MAN" th:text="男">
								<input type="radio" name="gender" id="gender" value="WOMEN" th:text="女">
								<input type="radio" name="gender" id="gender" value="PRIVATE" th:text="不公開">
								</div>
							</div>
							
							<div>
								<label>個人照片上傳</label>
								<input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg" >
							</div>
							<div>
							<p>
								<img id="thumbnail" alt="Logo Preview" />
							</p>
							</div>

							<div>
							<button type="submit" class="site-btn register-btn">送出</button>
							</div>
						</form>
						
						<form th:action="@{/userPicUpdate}" id="userPicUpload" method="post" enctype="multipart/form-data">
							<div class="group-input">
								<p>
									<img id="thumbnailMain" alt="Image Preview" />
								</p>
								<p>
									<label>封面照</label>
								</p>
								<p>
									<input type="file" name="mainImage" id="mainImage" accept="image/png, image/jpeg">
								</p>
							</div>
							<div class="group-input">
								<p>
									<img id="thumbnail0" alt="Image Preview" />
								</p>
								<p>
									<label>Extra Image #1</label>
								</p>
								<p>
									<input type="file" name="extraImage" accept="image/png, image/jpeg">
								</p>
							</div>
							<div class="group-input">
								<p>
									<img id="thumbnail1" alt="Image Preview" />
								</p>
								<p>
									<label>Extra Image #2</label>
								</p>
								<p>
									<input type="file" name="extraImage" accept="image/png, image/jpeg">
								</p>
							</div>
							<div class="group-input">
								<p>
									<img id="thumbnail2" alt="Image Preview" />
								</p>
								<p>
									<label>Extra Image #3</label>
								</p>
								<p>
									<input type="file" name="extraImage" accept="image/png, image/jpeg">
								</p>
							</div>
							<div>
							<button type="submit" class="site-btn register-btn">送出</button>
							</div>
										
							
						
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-details-inner">
                        <div class="blog-detail-title">
                            <div>封面大圖</div>
                        </div>
                        <div class="posted-by" id="userDetailBox">

                        </div>
                        <h3 style="margin: 30px;">自我介紹</h3>
                        <form style="margin: 30px;">
                            <textarea name="essay1" id="essay1" rows="10" cols="80">

                            </textarea>
                            <button type="button" id="essay1Save" class="primary-btn">儲存</button>
                            <script>
                                // Replace the <textarea id="editor1"> with a CKEditor 4
                                // instance, using default configuration.
                                CKEDITOR.replace( 'essay1' );
                            </script>
                        </form>
                        <div>圖片1</div>
                        <div>圖片2</div>
                        <div>圖片3</div>
                        <h3 style="margin: 30px;">分享故事</h3>
                        <form style="margin: 30px;">
                            <textarea name="essay2" id="essay2" rows="10" cols="80">
                                
                            </textarea>
                            <button type="button" id="essay2Save" class="primary-btn">儲存</button>
                            <script>
                                // Replace the <textarea id="editor1"> with a CKEditor 4
                                // instance, using default configuration.
                                CKEDITOR.replace( 'essay2' );
                            </script>
                        </form>
                        <button id="saveAndOut" class="primary-btn checkout-btn">完成&離開</button>

                    </div>
                </div>
            </div>
        </div>
    </section>
	<!-- Register Form Section End -->

	<!-- Partner Logo Section Begin -->
	<div class="partner-logo">
		<div class="container">
			<div class="logo-carousel owl-carousel">
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-1.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-2.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-3.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-4.png" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="img/logo-carousel/logo-5.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Partner Logo Section End -->

	<!-- Footer Section Begin -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="footer-left">
						<div class="footer-logo">
							<a href="#"><img src="img/footer-logo.png" alt=""></a>
						</div>
						<ul>
							<li>地址: 80147高雄市前金區中正四路211號8號樓之1</li>
							<li>電話: 07 969 9885</li>
							<li>電子信箱: vintage@gmail.com</li>
						</ul>
						<div class="footer-social">
							<a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
							<a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
							<a href="https://twitter.com"><i class="fa fa-twitter"></i></a> <a
								href="https://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1">
					<div class="footer-widget">
						<h5>資訊</h5>
						<ul>
							<li><a href="#">關於我們</a></li>
							<li><a href="#">首頁</a></li>
							<!-- 							<li><a href="#">Contact</a></li> -->
							<li><a href="#">Q&A</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="footer-widget">
						<h5>我的帳戶</h5>
						<ul>
							<li><a href="#">個人帳戶</a></li>
							<!-- 							<li><a href="#">Contact</a></li> -->
							<li><a href="#">購物車</a></li>
							<li><a href="#">商城</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="newslatter-item">
						<h5>現在就加入我們的電子報！</h5>
						<p>獲取最新最即時的商品資訊</p>
						<form action="#" class="subscribe-form">
							<input type="text" placeholder="輸入您的電子信箱">
							<button type="button">訂閱</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-reserved">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="copyright-text">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</div>
						<div class="payment-pic">
							<img src="img/payment-method.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->

	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/jquery.countdown.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	<script src="js/jquery.dd.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>